.moorl-client-config-card {
    .moorl-client-config-card__fieldset {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 6px;
        width: 100%;

        .mt-button {
            width: 100%;
            height: 48px;
        }
    }
}
