@import '~scss/variables';

.moorl-page-detail {
    .moorl-page-detail__card > .mt-card__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-auto-flow: dense;

        > div {
            grid-column: span 2;
        }

        > .moorl-entity-grid,
        > .moorl-opening-hours,
        > .moorl-media-gallery,
        > .name-field,
        > .mt-banner,
        > .sw-inherit-wrapper,
        > .sw-media-field,
        > .sw-field--textarea,
        > .sw-entity-many-to-many-select,
        > .sw-text-editor {
            grid-column: span 6;
        }
    }

    .customFields-card > .mt-card__content,
    .location-card > .mt-card__content {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        > .sw-custom-field-set-renderer {
            grid-column: span 4;
        }
    }

    .sw-cms-page-form {
        margin: 0;
    }

    .sw-cms-page-form__section {
        padding: 50px 0 70px 0;
    }
}
