{% block sw_cms_sidebar_block_overview_category_options %}
    <option value="moorl-cms">{{ $tc(snippetPrefix + 'blockMoorlCms') }}</option>
    <option value="moorl-layout">{{ $tc(snippetPrefix + 'blockMoorlLayout') }}</option>
    <option value="moorl-preset">{{ $tc(snippetPrefix + 'blockMoorlPreset') }}</option>

    {% parent %}
{% endblock %}
