{% block sw_cms_sidebar_block_overview_category_options %}
    <option value="moorl-cms">{{ $tc(snippetPrefix + 'blockMoorlCms') }}</option>
    <option value="moorl-cms-old">{{ $tc(snippetPrefix + 'blockMoorlCmsOld') }}</option>
    <option value="moorl-grid-layout">{{ $tc(snippetPrefix + 'blockMoorlGridLayout') }}</option>
    <option value="moorl-column-layout">{{ $tc(snippetPrefix + 'blockMoorlColumnLayout') }}</option>
    <option value="moorl-autofill-layout">{{ $tc(snippetPrefix + 'blockMoorlAutofillLayout') }}</option>
    <option value="moorl-slider">{{ $tc(snippetPrefix + 'blockMoorlSlider') }}</option>

    {% parent %}
{% endblock %}
