{% block sw_cms_sidebar_block_overview_category_options %}
    {% block sw_cms_sidebar_block_overview_category_moorl %}
        {% block sw_cms_sidebar_block_overview_category_moorl_cms %}
            <option value="moorl-cms">{{ $tc(snippetPrefix + 'blockMoorlCms') }}</option>
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_cms_old %}
            <option value="moorl-cms-old">{{ $tc(snippetPrefix + 'blockMoorlCmsOld') }}</option>
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_grid_layout %}
            <option value="moorl-grid-layout">{{ $tc(snippetPrefix + 'blockMoorlGridLayout') }}</option>
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_column_layout %}
            <option value="moorl-column-layout">{{ $tc(snippetPrefix + 'blockMoorlColumnLayout') }}</option>
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_autofill_layout %}
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_slider %}
            <option value="moorl-slider">{{ $tc(snippetPrefix + 'blockMoorlSlider') }}</option>
        {% endblock %}
    {% endblock %}

    {% parent %}
{% endblock %}
