.moorl-form {
    .mt-card {
        border-radius: 0;
    }

    .moorl-form__card {
        .mt-card__content {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 20px;
            grid-auto-flow: row;

            > .newline {
                grid-column: 1 / -1;
            }

            > .mt-banner {
                grid-column: span 12;
            }
        }
    }

    .sw-cms-page-form {
        margin: 0;
    }

    .sw-cms-page-form__section {
        padding: 50px 0 70px 0;
    }
}

.sw-modal {
    .moorl-form__card {
        border: 0;

        > .mt-card__header {
            padding: 0;
        }

        > .mt-card__content {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
    }
}
