<div class="moorl-translated-text-field">
    <div class="moorl-translated-text-field__fieldset">
        <mt-text-field
                v-bind="$attrs"
                v-model="currentValue"
        />

        <sw-language-switch @on-change="onChangeLanguage"/>
    </div>
</div>
