<div class="sw-cms-el-moorl-replacer" :style="elementCss">
    <div>
        <p class="moorl-replacer-title">
            <sw-icon name="default-arrow-switch" size="24"/>
            {{ $tc('sw-cms.elements.moorl-replacer.title') }}
        </p>

        <p>{{ $tc('sw-cms.elements.moorl-replacer.description') }}</p>

        <p>
            <a href="https://store.shopware.com/moori.html"
               target="_blank"
               rel="noopener">
                {{ $tc('sw-cms.elements.moorl-replacer.storeLink') }}
            </a>
        </p>
    </div>

    <div>
        <sw-entity-single-select
                :criteria="cmsElementConfigCriteria"
                entity="moorl_cms_element_config"
                v-model="cmsElementConfigId">
            <template #result-item="{ item, index }">
                <slot name="result-item" v-bind="{ item, index }">
                    <li is="sw-select-result" v-bind="{ item, index }">
                        {{ item.type }} | {{ item.name }}
                    </li>
                </slot>
            </template>
        </sw-entity-single-select>
    </div>

    <div>
        <sw-button :disabled="!cmsElementConfigId"
                   @click="onLoadCmsElementConfig">
            <sw-icon name="default-basic-checkmark-wide" size="16"/>
        </sw-button>
    </div>
</div>
