.sw-cms-el-moorl-replacer {
    position: relative;
    width: 100%;
    padding: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0d0d0e;
    overflow: hidden;
    display: grid;
    grid-template:
            "a a" auto
            "b c" 48px / 1fr 40px;
    grid-gap: 10px;

    .sw-field {
        margin-bottom: 0;
    }

    .sw-button {
        display: block;
        height: 48px;
        width: 100%;
        padding: 2px 0;
        text-align: center;
        .sw-button__content {
            display: block;
        }
    }

    > div {
        box-sizing: border-box;
        width: 100%;

        &:nth-child(1) {
            grid-area: a;
            background: rgba(255,255,255,.7);
            padding: 10px;
        }
        &:nth-child(2) {
            grid-area: b;
        }
        &:nth-child(3) {
            grid-area: c;
        }
        &:nth-child(4) {
            grid-area: d;
        }
    }
}
