<div class="moorl-entity-grid">
    <sw-container columns="4fr 1fr 1fr 1fr" gap="0 10px" class="moorl-entity-grid__top-bar">
        <sw-field :placeholder="$tc('moorl-foundation.label.search')"
                  type="text"
                  v-model="searchTerm"
                  @input="onSearch">
        </sw-field>

        <sw-button variant="primary"
                   :block="true"
                   size="small"
                   @click="onEditItem(null)">
            <sw-icon name="default-basic-plus-block" size="16"></sw-icon>
            {{ $tc('moorl-foundation.buttons.newButtonText') }}
        </sw-button>

        <sw-button variant="primary"
                   :block="true"
                   size="small"
                   @click="onImportModal">
            <sw-icon name="default-action-cloud-upload" size="16"></sw-icon>
            {{ $tc('moorl-foundation.buttons.importButtonText') }}
        </sw-button>

        <sw-button variant="primary"
                   :block="true"
                   size="small"
                   @click="onExportModal">
            <sw-icon name="default-action-cloud-download" size="16"></sw-icon>
            {{ $tc('moorl-foundation.buttons.exportButtonText') }}
        </sw-button>
    </sw-container>

    <sw-data-grid v-if="totalCount > 0"
                  :dataSource="items"
                  :columns="gridColumns"
                  :showSelection="true"
                  :showSettings="false"
                  :isLoading="isLoading"
                  :sortBy="sortBy"
                  :sortDirection="sortDirection"
                  :allowColumnEdit="false"
                  @column-sort="onSortColumn"
                  @select-all-items="onSelectionChanged"
                  @selection-change="onSelectionChanged">
        <template #actions="{ item }">
            <sw-context-menu-item v-if="path" :routerLink="{ name: path, params: {id: item.id} }">
                {{ $tc('global.default.edit') }}
            </sw-context-menu-item>

            <sw-context-menu-item v-else @click="onEditItem(item)">
                {{ $tc('global.default.edit') }}
            </sw-context-menu-item>

            <sw-context-menu-item variant="danger"
                                  @click="onDeleteItem(item)">
                {{ $tc('global.default.delete') }}
            </sw-context-menu-item>
        </template>

        <template slot="bulk">
            <a class="link link-danger" @click="onEditSelectedItems">
                {{ $tc('global.default.edit') }}
            </a>

            <a class="link link-danger" @click="onDeleteSelectedItems">
                {{ $tc('global.default.delete') }}
            </a>
        </template>

        <template slot="pagination">
            <sw-pagination :total="totalCount"
                           :limit="limit"
                           :page="page"
                           :total-visible="gridPagesVisible"
                           :steps="gridSteps"
                           @page-change="onPageChange">
            </sw-pagination>
        </template>
    </sw-data-grid>

    <sw-modal v-if="showEditModal"
              :title="$tc('global.default.edit')"
              @modal-close="onCloseModal">
        <moorl-entity-form-element v-for="column in editColumns"
                                   :value="selectedItem"
                                   :column="column">
        </moorl-entity-form-element>
        <template #modal-footer>
            <sw-button @click="onCloseModal" size="small">
                {{ $t('moorl-foundation.buttons.cancelButtonText') }}
            </sw-button>
            <sw-button @click="onSaveItem"
                       variant="primary"
                       size="small">
                {{ $t('moorl-foundation.buttons.saveButtonText') }}
            </sw-button>
        </template>
    </sw-modal>

    <moorl-csv-import
            v-if="showImportModal"
            :entity="entity"
            :onCloseModal="onCloseModal"
            :onFinishImport="getItems"
            :defaultItem="defaultItem"></moorl-csv-import>

    <moorl-csv-export
            v-if="showExportModal"
            :entity="entity"
            :onCloseModal="onCloseModal"
            :selectedItems="selectedItems"
            :defaultItem="defaultItem"></moorl-csv-export>
</div>
