<div class="moorl-entity-grid">
    <sw-container columns="4fr 1fr 1fr" gap="0 10px" class="moorl-entity-grid__top-bar">
        <sw-field :placeholder="$tc('moorl-foundation.label.search')"
                  type="text"
                  v-model="gridSearch"
                  @input="onSearch">
        </sw-field>

        <sw-button variant="primary"
                   :block="true"
                   size="small"
                   @click="onEditItem(null)">
            {{ $tc('moorl-foundation.buttons.newButtonText') }}
        </sw-button>

        <sw-button variant="primary"
                   :block="true"
                   size="small"
                   @click="onImportItems">
            {{ $tc('moorl-foundation.buttons.importButtonText') }}
        </sw-button>
    </sw-container>

    <sw-data-grid ref="entity"
                  v-if="gridItemsTotal > 0"
                  :dataSource="items"
                  :columns="gridColumns"
                  :showSelection="true"
                  :showSettings="true"
                  sortBy="code"
                  sortDirection="ASC"
                  :allowColumnEdit="true"
                  identifier="moorl-entity-grid"
                  @column-sort="onSortColumn"
                  @select-all-items="onGridSelectionChanged"
                  @selection-change="onGridSelectionChanged">
        <template #actions="{ item }">
            <sw-context-menu-item @click="onEditItem(item)">
                {{ $tc('global.default.edit') }}
            </sw-context-menu-item>

            <sw-context-menu-item variant="danger"
                                  @click="onDeleteItem(item)">
                {{ $tc('global.default.delete') }}
            </sw-context-menu-item>
        </template>

        <template slot="pagination">
            <sw-pagination :total="gridItemsTotal"
                           :limit="gridPageLimit"
                           :page="gridCurrentPageNr"
                           :total-visible="gridPagesVisible"
                           :steps="gridSteps"
                           @page-change="onPageChange">
            </sw-pagination>
        </template>
    </sw-data-grid>

    <sw-modal v-if="showEditModal"
              :title="$tc('global.default.edit')"
              @modal-close="onCloseModal">
        <moorl-entity-form-element v-for="column in editColumns"
                                   :value="editItem"
                                   :column="column">
        </moorl-entity-form-element>

        {{ editItem }}

        <template #modal-footer>
            <sw-button @click="onCloseModal" size="small">
                {{ $t('moorl-foundation.buttons.cancelButtonText') }}
            </sw-button>
            <sw-button @click="onSaveItem"
                       variant="primary"
                       size="small">
                {{ $t('moorl-foundation.buttons.saveButtonText') }}
            </sw-button>
        </template>
    </sw-modal>

    <moorl-csv-import
            v-if="showImportModal"
            :entity="entity"
            :onCloseModal="onCloseModal"
            :onFinishImport="refreshGridDataSource"
            :defaultValues="defaultValues"></moorl-csv-import>
</div>

