<div class="sw-cms-el-config-moorl-accordion">
    <sw-cms-inherit-wrapper
            field="name"
            :element="element"
            :label="$tc('sw-cms.elements.moorl-accordion.label.name')"
    >
        <template #default="{ isInherited }">
            <mt-text-field
                    v-model="element.config.name.value"
                    :disabled="isInherited"
            />
        </template>
    </sw-cms-inherit-wrapper>

    <sw-cms-inherit-wrapper
            field="entries"
            :element="element"
            :label="$tc('sw-cms.elements.moorl-accordion.label.entries')"
    >
        <template #default="{ isInherited }">
            <div class="sw-field">
                <div class="sw-field__label">
                    <label>{{ $tc('sw-cms.elements.moorl-accordion.label.entries') }}</label>
                </div>

                <hr style="clear: both;">

                <div class="config-moorl_faq_list">
                    <sw-collapse
                            v-for="(entry, index) in element.config.entries.value"
                            :key="index"
                            :ref="'collapse_' + index"
                    >
                        <template #header="{ expanded }">
                            <div
                                    class="collapse-header"
                                    :class="expanded ? 'expanded' : ''"
                            >
                                <div class="drag-indicator">
                                    <mt-icon name="regular-grip-lines"/>
                                </div>
                                <h4>
                                    {{ entry.name ?? 'New entry' }}
                                </h4>
                                <div class="collapse-indicator">
                                    <mt-icon
                                            v-if="expanded"
                                            class="sw-media-collapse__button"
                                            name="regular-chevron-down-s"
                                    />
                                    <mt-icon
                                            v-else
                                            class="sw-media-collapse__button"
                                            name="regular-chevron-right-s"
                                    />
                                </div>
                            </div>
                        </template>

                        <template #content>
                            <div class="collapse-content">
                                <mt-text-field
                                        :label="$tc('sw-cms.elements.moorl-accordion.label.name')"
                                        v-model="entry.name"
                                />
                                <sw-code-editor
                                        v-model:value="entry.content"
                                        mode="twig"
                                        :label="$tc('sw-cms.elements.moorl-accordion.label.content')"
                                        :softWraps="true"
                                />
                                <mt-button
                                        variant="danger"
                                        @click.prevent="removeEntry($event, index)"
                                >
                                    {{ $tc('sw-cms.elements.moorl-accordion.label.remove') }}
                                </mt-button>
                            </div>
                        </template>
                    </sw-collapse>
                </div>
                <div class="config-moorl_faq_actions">
                    <mt-button
                            :block="true"
                            @click="addEntry"
                            variant="ghost"
                    >
                            <span>
                                <mt-icon
                                        name="regular-plus"
                                        :small="true"
                                />
                                {{ $tc('sw-cms.elements.moorl-accordion.label.add') }}
                            </span>
                    </mt-button>
                </div>
            </div>
        </template>
    </sw-cms-inherit-wrapper>

    <sw-cms-inherit-wrapper
            field="verticalAlign"
            :element="element"
            :label="$tc('moorl-select.label.verticalAlign')"
    >
        <template #default="{ isInherited }">
            <moorl-select-field
                    v-model:value="element.config.verticalAlign.value"
                    set="flexVerticalAlign"
                    :disabled="isInherited"
            />
        </template>
    </sw-cms-inherit-wrapper>
</div>
