<div class="sw-cms-el-config-moorl-accordion">
    <sw-tabs class="sw-cms-el-config-image-gallery__tabs" defaultItem="content">
        <template slot-scope="{ active }" >
            <sw-tabs-item :title="$tc('sw-cms.elements.general.config.tab.content')"
                          name="content"
                          :activeTab="active">
                {{ $tc('sw-cms.elements.general.config.tab.content') }}
            </sw-tabs-item>
            <sw-tabs-item :title="$tc('sw-cms.elements.general.config.tab.settings')"
                          name="settings"
                          :activeTab="active">
                {{ $tc('sw-cms.elements.general.config.tab.settings') }}
            </sw-tabs-item>
        </template>

        <template slot="content" slot-scope="{ active }">
            <sw-container v-if="active === 'content'">
                <sw-field type="text"
                          :label="$tc(snippetPrefix + 'label.name')"
                          v-model="element.config.name.value">
                </sw-field>


                <div class="sw-field">
                    <draggable
                        class="config-moorl_faq_list"
                        v-model="element.config.entries.value"
                        handle=".drag-indicator"
                        @choose="dragChoose"
                        @start="dragStart"
                        @end="dragEnd">
                        <sw-collapse v-for="(entry, index) in element.config.entries.value" :key="index" :ref="'collapse_' + index">
                            <template #header="{ expanded }">
                                <div class="collapse-header" :class="expanded ? 'expanded' : ''">
                                    <div class="drag-indicator">
                                        <sw-icon name="regular-grip-lines"/>
                                    </div>

                                    <h4>{{ entry.name ?? 'New entry' }}</h4>

                                    <div class="collapse-indicator">
                                        <sw-icon
                                                v-if="expanded"
                                                class="sw-media-collapse__button"
                                                name="regular-chevron-down-s"
                                        />
                                        <sw-icon
                                                v-else
                                                class="sw-media-collapse__button"
                                                name="regular-chevron-right-s"
                                        />
                                    </div>
                                </div>
                            </template>
                            <template #content>
                                <div class="collapse-content">
                                    <sw-field type="text"
                                              :label="$tc(snippetPrefix + 'label.name')"
                                              v-model="entry.name">
                                    </sw-field>

                                    <sw-code-editor v-model="entry.content"
                                                    mode="twig"
                                                    :label="$tc(snippetPrefix + 'label.content')"
                                                    :softWraps="true">
                                    </sw-code-editor>

                                    <sw-button variant="danger" @click.prevent="removeEntry($event, index)">
                                        {{ $tc(snippetPrefix + 'label.remove') }}
                                    </sw-button>
                                </div>
                            </template>
                        </sw-collapse>
                    </draggable>

                    <div class="config-moorl_faq_actions">
                        <sw-button :block="true" @click="addEntry" variant="ghost">
                            <span>
                                <sw-icon name="regular-plus" :small="true"/>
                                {{ $tc(snippetPrefix + 'label.add') }}
                            </span>
                        </sw-button>
                    </div>
                </div>
            </sw-container>


            <sw-container v-if="active === 'settings'">
                <sw-select-field :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                                 v-model="element.config.verticalAlign.value"
                                 :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')">
                    <option value="flex-start">{{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}</option>
                    <option value="center">{{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}</option>
                    <option value="flex-end">{{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}</option>
                </sw-select-field>
            </sw-container>
        </template>
    </sw-tabs>
</div>
