<div class="sw-cms-preview-block-appflix-column-layout-appflix-usp">
    <div>
        <sw-icon name="default-communication-envelope" size="15"></sw-icon>
        ~~~~~<br>
        ~~~
    </div>
    <div>
        <sw-icon name="default-communication-speech-bubbles" size="15"></sw-icon>
        ~~~~~<br>
        ~~~
    </div>
    <div>
        <sw-icon name="default-shopping-cart" size="15"></sw-icon>
        ~~~~~<br>
        ~~~
    </div>
</div>
