.sw-cms-preview-block-appflix-column-layout-appflix-usp{
    grid-template-columns: 1fr 1fr 1fr;
    height:60px;

    > div {
        line-height: 7px;
        display: flex;
        align-items: center;
        justify-content: center;

        .sw-icon{
            color:#189eff;
            margin-right: 5px;
        }
    }
}




