@import '~scss/variables';

[class^='sw-cms-el-config-moorl-'],
[class^='moorl-abstract-cms-'] {
    .sw-cms-inherit-wrapper {
        .mt-field__label,
        .sw-field__label {
            float: right;

            &::after {
                content: "";
                clear: both;
                display: table;
            }
        }

        .mt-field-label,
        .sw-field-label,
        .mt-field__label > label,
        .sw-field__label > label {
            display: none;
        }

        .mt-switch {
            margin-top: 0;
        }
    }
}

.mt-field__hint,
.sw-field__hint {
    a {
        font-size: inherit !important;
    }
}

.moorl-info-table {
    p {
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;

        td,
        th {
            padding: 10px;
            border: 3px solid #d1d9e0;
        }
    }

    .sw-field,
    .mt-field {
        margin-bottom: 0;
    }

    .sw-block-field input {
        padding: 6px 8px;
    }
}

.moorl-link-field {
    margin-bottom: 20px;

    > .sw-field,
    .mt-field {
        margin-bottom: 0;
    }

    > a {
        height: 24px;
    }
}

.moorl-collapse {
    .sw-field,
    .mt-field {
        margin-bottom: 0;
    }

    .mt-field--switch,
    .sw-field--switch {
        margin-bottom: 0;

        .mt-field__label,
        .sw-field__label label {
            padding-right: 0;
        }
    }

    .sw-collapse__header {
        display: grid;
        align-items: center;
        grid-gap: 10px;
        cursor: pointer;
        padding: 10px;
        background: $color-shopware-brand-50;
        border: 1px solid $color-gray-900;
        grid-template-columns: 1fr 24px;

        h4 {
            margin: 0;
        }

        .sw-icon:hover {
            color: $color-shopware-brand-900;
        }
    }

    .sw-collapse__content {
        display: grid;
        align-items: center;
        grid-gap: 10px;
        padding: 10px;
        background: $color-shopware-brand-50;
        border: 1px solid $color-gray-900;
        border-top: none;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    &.header--add {
        .sw-collapse__header {
            grid-template-columns: 1fr 24px 24px;
        }
    }

    &.content--single {
        .sw-collapse__content {
            grid-template-columns: 1fr;
        }
    }

    &.content--end {
        .sw-collapse__content {
            align-items: end;
        }
    }
}

.moorl-foundation-demo-html,
.sw-cms-el-text {
    pre {
        white-space: pre-line;
        font-size: 14px;
        background: $color-shopware-brand-50;
        border: 1px solid $color-gray-900;
        padding: 20px;

        code {
            font-size: inherit;
            color: inherit;
            word-break: normal;
        }
    }
}
