@import "~scss/variables";

.moorl-link-field {
    margin-bottom: 20px;

    > .sw-field {
        margin-bottom: 0;
    }

    > a {
        height: 24px;
    }
}

.moorl-collapse {
    .sw-field {
        margin-bottom: 0;
    }

    .sw-field--switch {
        margin-bottom: 0;

        .sw-field__label label {
            padding-right: 0;
        }
    }

    .sw-collapse__header {
        display: grid;
        align-items: center;
        grid-gap: 10px;
        cursor: pointer;
        padding: 10px;
        background: $color-shopware-brand-50;
        border: 1px solid $color-gray-900;
        grid-template-columns: 1fr 24px;

        h4 {
            margin: 0;
        }

        .sw-icon:hover {
            color: $color-shopware-brand-900;
        }
    }

    .sw-collapse__content {
        display: grid;
        align-items: center;
        grid-gap: 10px;
        padding: 10px;
        background: $color-shopware-brand-50;
        border: 1px solid $color-gray-900;
        border-top: none;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    &.header--add {
        .sw-collapse__header {
            grid-template-columns: 1fr 24px 24px;
        }
    }

    &.content--single {
        .sw-collapse__content {
            grid-template-columns: 1fr;
        }
    }

    &.content--end {
        .sw-collapse__content {
            align-items: end;
        }
    }
}

.sw-cms-el-text {
    pre {
        white-space: pre-line;
        font-size: 14px;
        background: $color-shopware-brand-50;
        border: 1px solid $color-gray-900;
        padding: 20px;

        code {
            font-size: inherit;
            color: inherit;
            word-break: normal;
        }
    }
}
