{% set allowDownload = true %}
{% set tunnelDownload = true %}
{% set showDownloads = true %}
{% set showImage = true %}

{% if downloads.count > 0 and showDownloads %}
    <div class="moorl-download-list">
        <ul class="moorl-download-list-items">
            {% for file in downloads %}
                {% sw_include '@Storefront/plugin/moorl-foundation/component/download-list/download-item.html.twig' %}
            {% endfor %}
        </ul>
    </div>
{% else %}
    {% sw_include "@Storefront/storefront/utilities/alert.html.twig" with {
        type: "primary",
        content: "moorl-foundation.search.notAvailable"|trans
    } %}
{% endif %}
