/composer.lock

/vendor/
/libs/vendor/
/.idea/
/.psh.yaml.override
/.php_cs.cache
/docker-compose.override.yml

package-lock.json
/src/Resources/node_modules/
/src/Resources/app/administration/node_modules/
/src/Resources/app/storefront/node_modules/
