<div class="moorl-product-single-select">
    <sw-entity-single-select
            entity="product"
            :criteria="productSearchCriteria"
            :context="productSearchContext"
            :label="label"
            v-model="value">
        <template #result-item="{ item, index }">
            <slot name="result-item" v-bind="{ item, index }">
                <li is="sw-select-result" v-bind="{ item, index }">
                    <span class="sw-select-result__result-item-text">
                        <sw-product-variant-info :variations="item.variation">
                            {{ item.translated.name || item.name }}
                        </sw-product-variant-info>
                    </span>
                </li>
            </slot>
        </template>
    </sw-entity-single-select>
</div>
