<div class="moorl-demo-button">
    <mt-button
            variant="secondary"
            size="default"
            :disabled="!acl.can('system.system_config')"
            @click="openModal"
    >
        {{ $tc('moorl-demo-button.label') }}
    </mt-button>

    <sw-modal
            v-if="open"
            :title="$tc('moorl-demo-button.label')"
            @modal-close="closeModal"
            :isLoading="isLoading"
    >
        <sw-alert variant="warning">
            {{ $tc('moorl-demo-data.notification') }}
        </sw-alert>

        <sw-entity-single-select
                :label="$tc('moorl-foundation.field.salesChannel')"
                v-model:value="salesChannelId"

                entity="sales_channel"
        />

        <router-link
                target="_blank"
                rel="noopener"
                :to="{ name: 'moorl.demo.data.index' }"
        >
            {{ $tc('moorl-foundation.label.settingsDemoData') }}
        </router-link>

        <template #modal-footer>
            <mt-button variant="primary" @click="install" :disabled="salesChannelId === null || isLoading">
                {{ $tc('moorl-foundation.buttons.startButtonText') }}
            </mt-button>

            <mt-button @click="closeModal">
                {{ $tc('moorl-foundation.buttons.cancelButtonText') }}
            </mt-button>
        </template>
    </sw-modal>
</div>
