<div class="sw-cms-el-config-moorl-foundation-listing">
    <sw-tabs default-item="listing">
        <template #default="{ active }">
            <sw-tabs-item name="listing" :activeTab="active">
                {{ $tc('sw-cms.elements.moorl-foundation-listing.tab.listing') }}
            </sw-tabs-item>

            <sw-tabs-item name="layout" :activeTab="active">
                {{ $tc('sw-cms.elements.moorl-foundation-listing.tab.layout') }}
            </sw-tabs-item>

            <sw-tabs-item
                    v-if="element.config.listingLayout.value === 'slider'"
                    name="slider"
                    :activeTab="active"
            >
                {{ $tc('sw-cms.elements.moorl-foundation-listing.tab.slider') }}
            </sw-tabs-item>

            <sw-tabs-item name="item" :activeTab="active">
                {{ $tc('sw-cms.elements.moorl-foundation-listing.tab.item') }}
            </sw-tabs-item>

            <sw-tabs-item name="content" :activeTab="active">
                {{ $tc('sw-cms.elements.moorl-foundation-listing.tab.content') }}
            </sw-tabs-item>
        </template>

        <template #content="{ active }">
            <sw-container v-if="active === 'listing'" key="listing">
                <sw-container columns="1fr 1fr" gap="0px 30px">
                    <div class="link-field">
                        <moorl-select
                                :label="$tc('sw-cms.elements.moorl-foundation-listing.label.listingSource')"
                                @update:value="onSelectionChange"
                                v-model:value="element.config.listingSource.value"
                                set="listingSource"
                        />

                        <router-link v-if="contentRoute" target="_blank" rel="noopener" :to="{ name: contentRoute }">
                            {{ $tc('sw-cms.elements.moorl-foundation-listing.label.manageContent') }}
                        </router-link>
                    </div>

                    <div class="link-field">
                        <sw-entity-single-select
                                :label="$tc('sw-cms.elements.moorl-foundation-listing.label.listingSorting')"
                                :helpText="$tc('sw-cms.elements.moorl-foundation-listing.helpText.listingSorting')"
                                v-model:value="element.config.listingSorting.value"
                                entity="moorl_sorting"
                                labelProperty="label"
                                show-clearable-button
                                :criteria="sortingCriteria"
                        />

                        <router-link target="_blank" rel="noopener" :to="{ name: 'moorl.sorting.list', params: { entity: entity } }">
                            {{ $tc('sw-cms.elements.moorl-foundation-listing.label.manageSorting') }}
                        </router-link>
                    </div>

                    <sw-number-field
                            v-model:value="element.config.limit.value"
                            @update:value="onSelectionChange"
                            :label="$tc('sw-cms.elements.moorl-foundation-listing.label.limit')"
                    />

                    <moorl-select
                            v-model:value="element.config.foreignKey.value"
                            @update:value="onSelectionChange"
                            :customSet="elementOptions.foreignKey"
                            :label="$tc('sw-cms.elements.moorl-foundation-listing.label.foreignKey')"
                            show-clearable-button
                    />
                </sw-container>

                <sw-entity-multi-select
                        v-if="element.config.listingSource.value === 'select'"
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.listingItemIds')"
                        v-model:entityCollection="entityCollection"
                        @update:entity-collection="onSelectionChange"
                >
                    <template #selection-label-property="{ item }">
                        {{ item.translated.name || item.name || item.translated.title || item.title }}
                    </template>

                    <template #result-label-property="{ item, index }">
                        {{ item.translated.name || item.name || item.translated.title || item.title }}
                    </template>
                </sw-entity-multi-select>

                {% block sw_cms_element_moorl_foundation_listing_config %}{% endblock %}
            </sw-container>

            <moorl-listing-layout-container
                    v-if="active === 'layout'"
                    v-model:item="element.config"
            />

            <moorl-listing-slider-container
                    v-if="active === 'slider'"
                    v-model:item="element.config"
            />

            <moorl-listing-item-container
                    v-if="active === 'item'"
                    v-model:item="element.config"
            />

            <moorl-listing-content-container
                    v-if="active === 'content'"
                    v-model:item="element.config"
            />
        </template>
    </sw-tabs>

    <moorl-support-link path="/MoorlFoundation/listing/"/>
</div>
