:root{
    --moorl-background-color: #{$sw-background-color};
    --moorl-text-color: #{$sw-text-color};
    --moorl-headline-color: #{$sw-headline-color};
    --moorl-border-color: #{$sw-border-color};
}
