.input-group-text{
  background-color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $input-color;

  .icon {
    width: 17px;
    height: 17px;

    svg {
      top: 0;
      color: $input-color;
    }
  }
}
