@import "~scss/variables";

.sw-cms-el-preview-moorl-opening-hours {
  width: 100%;
  background: #fff;
  font-size: 22px;
  color: $color-darkgray-200;
  font-weight: 600;

  p {
    font-size: $font-size-small;
    margin-bottom: 10px;
  }

  hr {
    max-width: 100%;
    margin: 10px auto;
    height: 1px;
    border: 0;
    background-color: $color-gray-300;
  }

  .sw-cms-el-preview-moorl-opening-hours-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;

    > div {
      background-color: $color-gray-300;
      width: 100%;
      height: 32px;
      border-radius: $border-radius-default;
    }
  }
}
