@import "~scss/variables";

.sw-cms-stage-section-selection {
    display: flex !important;

    .sw-cms-stage-section-selection__sidebar-right-preview-inner {
        height: 100%;
        width: 100%;
        border-radius: $border-radius-default;
        border: none;
        display: grid;
        grid-template-columns: 120px 32px;
        grid-gap: 8px;
        justify-content: center;

        .sw-cms-stage-section-selection__sidebar-preview-placeholder {
            border: 1px dashed $color-gray-300;
            border-radius: $border-radius-default;
        }
    }
}
