<div class="moorl-location">
    <div
            class="moorl-location-map"
            id="moorlLocation"
            ref="moorlLocation"
    />

    <router-link target="_blank"
                 rel="noopener"
                 :to="{ name: 'sw.extension.config', params: { namespace: 'MoorlFoundation' } }">
        {{ $tc('moorl-location.link') }}
    </router-link>
</div>
