{% block moorl_location_card %}
    <sw-card class="moorl-location-card" :title="$tc('moorl-foundation.card.location')">
        <sw-container columns="1fr 1fr" gap="0 20px">
            {% block moorl_location_card_inner %}
                <div class="moorl-link-field">
                    <sw-entity-single-select
                            :label="$tc('moorl-foundation.field.markerId')"
                            entity="moorl_marker"
                            v-model:value="item.markerId"
                    />

                    <router-link target="_blank" rel="noopener" :to="{ name: 'moorl.marker.list' }">
                        {{ $tc('moorl-marker.title') }}
                    </router-link>
                </div>

                <sw-switch-field
                        bordered
                        :label="$tc('moorl-foundation.field.autoLocation')"
                        v-model:value="item.autoLocation"
                />

                <sw-number-field
                        :disabled="item.autoLocation"
                        :label="$tc('moorl-foundation.field.locationLat')"
                        numberType="float"
                        digits="6"
                        v-model:value="item.locationLat"
                />

                <sw-number-field
                        :disabled="item.autoLocation"
                        :label="$tc('moorl-foundation.field.locationLon')"
                        numberType="float"
                        digits="6"
                        v-model:value="item.locationLon"
                />
            {% endblock %}
        </sw-container>

        <moorl-location :locations="locations" :options="['dragging']"/>

        <slot name="append"/>
    </sw-card>
{% endblock %}
