$light: #f9f9f9 !default;
$sw-border-color: #bcc1c7 !default;
$border-radius: 10px;
$sw-background-color: #FFFFFF;
$sw-headline-color: #4a545b !default;

.sw-cms-el-moorl-opening-hours {
  width: 100%;
  min-height: 200px;
}
