{% block sw_cms_element_image_slider_config_tab_content %}
    {% parent %}

    <sw-tabs-item :title="$tc(snippetPrefix + 'tab.extra')"
                  name="extra"
                  :activeTab="active">
        {{ $tc(snippetPrefix + 'tab.extra') }}
    </sw-tabs-item>
{% endblock %}

{% block sw_cms_element_image_slider_config_settings %}
    {% parent %}

    <sw-container v-if="active === 'extra'"
                  class="sw-cms-el-config-image-slider__tab-extra">
        <sw-switch-field
                v-model:value="element.config.enableFeature.value"
                bordered
                :label="$tc(snippetPrefix + 'label.enableFeature')"
        />

        <sw-number-field
                v-model:value="element.config.speed.value"
                :label="$tc(snippetPrefix + 'label.speed')"
        />

        <sw-number-field
                v-model:value="element.config.autoplayTimeout.value"
                :label="$tc(snippetPrefix + 'label.autoplayTimeout')"
        />

        <sw-switch-field
                v-model:value="element.config.autoplay.value"
                bordered
                :label="$tc(snippetPrefix + 'label.autoplay')"
        />

        <sw-switch-field
                v-model:value="element.config.autoplayHoverPause.value"
                bordered
                :label="$tc(snippetPrefix + 'label.autoplayHoverPause')"
        />

        <sw-select-field :label="$tc(snippetPrefix + 'label.animateIn')"
                         :helpText="$tc(snippetPrefix + 'helpText.animate')"
                         v-model:value="element.config.animateIn.value">
            <optgroup v-for="item in moorlFoundation.animateCss" :label="item.optgroup">
                <option v-for="value in item.options" :value="value">{{ value }}</option>
            </optgroup>
        </sw-select-field>

        <sw-select-field :label="$tc(snippetPrefix + 'label.animateOut')"
                         :helpText="$tc(snippetPrefix + 'helpText.animate')"
                         v-model:value="element.config.animateOut.value">
            <optgroup v-for="item in moorlFoundation.animateCss" :label="item.optgroup">
                <option v-for="value in item.options" :value="value">{{ value }}</option>
            </optgroup>
        </sw-select-field>
    </sw-container>
{% endblock %}
