<ul class="moorl-opening-hours">
    <li class="day" v-for="(dayItem, dayIndex) in value">
        <div class="moorl-opening-hours-title">
            {{ $tc('moorl-opening-hours.days.' + dayItem.day) }}
        </div>

        <div class="moorl-opening-hours-actions">
            <sw-button @click="removeTimes(dayIndex)">
                <sw-icon name="regular-trash" size="16px"></sw-icon>
                {{ $tc('moorl-opening-hours.action.remove') }}
            </sw-button>
            <sw-button @click="addTimes(dayIndex)">
                <sw-icon name="default-basic-plus-block" size="16px"></sw-icon>
                {{ $tc('moorl-opening-hours.action.add') }}
            </sw-button>
        </div>

        <template v-if="dayItem.times.length > 0">
            <ul class="moorl-opening-hours-times">
                <li v-for="time in dayItem.times">
                    <sw-datepicker dateType="time" size="small" v-model="time.from"></sw-datepicker>
                    <sw-datepicker dateType="time" size="small" v-model="time.until"></sw-datepicker>
                </li>
            </ul>
        </template>

        <template v-else>
            <sw-field :placeholder="$tc('moorl-opening-hours.action.enterClosedHint')"
                      v-model="dayItem.info">
            </sw-field>
        </template>
    </li>
</ul>
