<template v-for="field in fields" :key="field.name">
    <div v-if="field.newline" class="newline"></div>

    <div
            v-if="isVisibleComponent(field)"
            :style="getStyle(field)"
            :data-property-name="field.path"
    >
        <template v-if="cmsElement && hasSwCmsInheritWrapperComponent && field.cmsMappingField">
            <sw-cms-inherit-wrapper
                    :field="field.path"
                    :element="cmsElement"
                    :label="fieldWrapperLabel(field)"
            >
                <template #default="{ isInherited }">
                    <sw-cms-mapping-field
                            v-model:config="item[field.path]"
                            :value-types="field.entity ? 'entity' : 'string'"
                            :entity="field.entity"
                            :disabled="isInherited"
                    >
                        <component
                                :is="field.componentName"
                                v-bind="componentProps(field, isInherited)"
                        />
                    </sw-cms-mapping-field>
                </template>
            </sw-cms-inherit-wrapper>
        </template>

        <template v-else-if="cmsElement && hasSwCmsInheritWrapperComponent">
            <sw-cms-inherit-wrapper
                    :field="field.path"
                    :element="cmsElement"
                    :label="fieldWrapperLabel(field)"
            >
                <template #default="{ isInherited }">
                    <component
                            :is="field.componentName"
                            v-bind="componentProps(field, isInherited)"
                    />
                </template>
            </sw-cms-inherit-wrapper>
        </template>

        <template v-else-if="cmsElement && field.cmsMappingField">
            <sw-cms-mapping-field
                    v-model:config="item[field.path]"
                    :value-types="field.entity ? 'entity' : 'string'"
                    :entity="field.entity"
                    :label="fieldWrapperLabel(field)"
            >
                <component
                        :is="field.componentName"
                        v-bind="componentProps(field, false)"
                />
            </sw-cms-mapping-field>
        </template>

        <template v-else>
            <component
                    :is="field.componentName"
                    v-bind="componentProps(field, false)"
            />
        </template>
    </div>
</template>
