.cms-section {
    &[class*='bg-'] {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: inherit;
        }
    }

    &[class*='moorl-separator-'] {
        .cms-section-default,
        .cms-section-moorl-grid {
            position: relative;
            z-index: 15;
        }
    }
}
