<sw-page class="moorl-marker-list">
    <template slot="smart-bar-header">
        <h2>
            {{ $tc('moorl-marker.title') }}
        </h2>
    </template>

    <template slot="smart-bar-actions">
        <sw-button variant="primary" :routerLink="{ name: 'moorl.marker.create' }">
            {{ $tc('moorl-foundation.buttons.newButtonText') }}
        </sw-button>

        <moorl-demo-button
            pluginName="MoorlFoundation"
            name="marker"
            @on-finish="getList"
        />
    </template>

    <template #sidebar>
        <sw-sidebar>
            <sw-sidebar-item
                    icon="regular-redo"
                    :title="$tc('moorl-foundation.buttons.refreshButtonText')"
                    @click="getList"
            />
        </sw-sidebar>
    </template>

    <template slot="content">
        <sw-entity-listing
                v-if="items"
                :items="items"
                :repository="repository"
                :showSelection="true"
                :columns="columns"
                detailRoute="moorl.marker.detail"
                @select-item="updateSelection"
                @update-records="updateTotal">
            <template #preview-name="{ item }">
                <sw-media-preview-v2 :source="item.marker"/>
            </template>

            <template #more-actions="{ item }">
                <sw-context-menu-item @click="onDuplicate(item)">
                    {{ $tc('sw-product.list.buttonDuplicate') }}
                </sw-context-menu-item>
            </template>
        </sw-entity-listing>
    </template>
</sw-page>
