<div class="moorl-abstract-cms-listing-config">
    <moorl-cms-element-config-form
        v-if="!isLoading"
        :item="element.config"
        :componentName="element.type"
        :entity="cmsElementEntity.entity"
        :mapping="cmsElementMapping"
        pathAppend="value"
    />
    <moorl-support-link path="/MoorlFoundation/listing/"/>
</div>