<div class="moorl-combination-element-options">
    <sw-card-section divider="bottom" slim v-if="isEnabled('layout')">
        <h4>{{ $tc('moorl-combination-element-options.title.layout') }}</h4>

        <sw-container  columns="1fr 1fr" gap="0px 20px">
            <sw-text-field
                    v-model:value="value.idAttribute"
                    :label="$tc('moorl-combination-element-options.label.idAttribute')"
            />

            <sw-text-field
                    v-model:value="value.classAttribute"
                    :label="$tc('moorl-combination-element-options.label.classAttribute')"
            />

            <moorl-select-field
                    :label="$tc('moorl-cms.elements.general.config.label.style')"
                    v-model:value="value.layout"
                    :customSet="['banner-content','content-banner']"
                    snippetPath="moorl-combination-element-options.layout"
            />

            <sw-switch-field
                    v-model:value="value.showBanner"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.showBanner')"
            />

            <sw-switch-field
                    v-model:value="value.showTitleDescription"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.showTitleDescription')"
            />

            <sw-switch-field
                    v-if="isEnabled('product-buy-list')"
                    v-model:value="value.showProductBuyList"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.showProductBuyList')"
            />

            <sw-text-field
                    v-model:value="value.minWidth"
                    :label="$tc('moorl-combination-element-options.label.minWidth')"
            />
        </sw-container>
    </sw-card-section>

    <sw-card-section divider="bottom" slim v-if="isEnabled('product-buy-list') && value.showProductBuyList">
        <h4>{{ $tc('moorl-combination-element-options.title.productBuyList') }}</h4>

        <sw-container columns="1fr 1fr" gap="0px 20px">
            <sw-switch-field
                    v-model:value="value.enableAddToCartSingle"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.enableAddToCartSingle')"
            />

            <moorl-select-field
                    :label="$tc('moorl-combination-element-options.label.addToCartSingleIcon')"
                    v-model:value="value.addToCartSingleIcon"
                    :disabled="!value.enableAddToCartSingle"
                    :customSet="['plus','cart','bag']"
                    snippetPath="moorl-combination-element-options.icon"
                    showClearableButton
            />

            <sw-switch-field
                    v-model:value="value.enableAddToCartAll"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.enableAddToCartAll')"
            />

            <moorl-select-field
                    :label="$tc('moorl-combination-element-options.label.addToCartAllIcon')"
                    v-model:value="value.addToCartAllIcon"
                    :disabled="!value.enableAddToCartAll"
                    :customSet="['plus','cart','bag']"
                    snippetPath="moorl-combination-element-options.icon"
                    showClearableButton
            />

            <sw-switch-field
                    v-model:value="value.enablePrices"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.enablePrices')"
            />

            <sw-switch-field
                    v-model:value="value.enableVariantSwitch"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.enableVariantSwitch')"
            />

            <sw-switch-field
                    v-model:value="value.enableSelection"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.enableSelection')"
            />

            <sw-switch-field
                    v-model:value="value.enableDirectUrl"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.enableDirectUrl')"
            />
        </sw-container>
    </sw-card-section>

    <sw-card-section divider="bottom" slim v-if="isEnabled('hotspots') && value.showBanner">
        <h4>{{ $tc('moorl-combination-element-options.title.hotspots') }}</h4>

        <sw-container columns="1fr 1fr" gap="0px 20px">
            <sw-switch-field
                    v-model:value="value.showHotspots"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.showHotspots')"
            />

            <sw-switch-field
                    v-model:value="value.loadHoverCards"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.loadHoverCards')"
                    :disabled="!value.showHotspots"
            />

            <moorl-select-field
                    :label="$tc('moorl-combination-element-options.label.hotspotAnimation')"
                    v-model:value="value.hotspotAnimation"
                    :disabled="!value.showHotspots"
                    :customSet="['pulse']"
                    snippetPath="moorl-combination-element-options.hotspotAnimation"
            />
        </sw-container>
    </sw-card-section>

    <sw-card-section divider="bottom" slim v-if="isEnabled('stock') && value.showBanner">
        <h4>{{ $tc('moorl-combination-element-options.title.stock') }}</h4>

        <sw-container columns="1fr 1fr" gap="0px 20px">
            <sw-switch-field
                    v-model:value="value.showStock"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.showStock')"
            />

            <moorl-select-field
                    :label="$tc('moorl-combination-element-options.label.stockType')"
                    v-model:value="value.stockType"
                    :disabled="!value.showStock"
                    :customSet="['progressBarAbs','progressBarPc','text']"
                    snippetPath="moorl-combination-element-options.stockType"
            />
        </sw-container>
    </sw-card-section>

    <sw-card-section divider="bottom" slim v-if="isEnabled('countdown') && value.showBanner">
        <h4>{{ $tc('moorl-combination-element-options.title.countdown') }}</h4>

        <sw-container columns="1fr 1fr" gap="0px 20px">
            <sw-switch-field
                    v-model:value="value.showCountdown"
                    bordered
                    :label="$tc('moorl-combination-element-options.label.showCountdown')"
            />

            <moorl-select-field
                    :label="$tc('moorl-combination-element-options.label.countdownType')"
                    v-model:value="value.countdownType"
                    :disabled="!value.showCountdown"
                    :customSet="['countdown','relative','time','hidden']"
                    snippetPath="moorl-combination-element-options.countdownType"
            />
        </sw-container>
    </sw-card-section>
</div>
