@import "blocks/moorl-grid-layout";
@import "blocks/moorl-column-layout";

@import "component/opening-hours";
//@import "component/listing";
@import "component/foundation-listing";
@import "component/search-suggest";
@import "component/search-page";
@import "component/countdown";
@import "component/base-slider";
@import "component/product-buy-list";
@import "component/download-list";

.is-ctl-navigation {
  main {
    overflow: hidden;
  }
}

.bg-fixed {
  background-attachment: fixed;
}

.cms-element-image-slider {
  overflow: hidden;
}

.moorl-foundation-hide,
.moorl-animation-hidden {
  opacity: 0;
}

.moorl-animation-processing {
  z-index: 9000;
}

.cms-block.no-gutters {
  overflow: visible;

  .cms-block-container-row {
    @extend .no-gutters;
  }
}

.modal {
  z-index: 1060;
}

.cms-element-moorl-replacer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  min-height: 240px;
  height: 100%;

  > div {
    padding: 5px;
    font-size: .7em;
    color: #FFFFFF;
    font-family: "Courier";
  }
}

$foundation-colors: (
        "facebook": #3C5A99,
        "google": #0F9D58,
        "azure": #00A4EF,
        "amazon": #FF9900,
        "office365": #00A4EF,
        "paypal": #0173b9,
        "generic": #efc34a,
        "discord": #7289DA,
        "twitter": #55acee,
        "instagram": #eee,
        "pinterest": #bd081c,
        "whatsapp": #25d366,
        "youtube": #ff0000,
        "xing": #126567
);

@each $color, $value in $foundation-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}
