<sw-page class="moorl-sorting-list">
    <template #smart-bar-header>
        <h2>
            {{ $tc('moorl-sorting.general.mainMenuItemGeneral') }}
        </h2>
    </template>

    <template #smart-bar-actions>
        <sw-button variant="primary" :routerLink="{ name: 'moorl.sorting.create' }">
            {{ $tc('moorl-foundation.buttons.newButtonText') }}
        </sw-button>
    </template>

    <template #language-switch>
        <sw-language-switch @on-change="changeLanguage"/>
    </template>

    <template #content>
        <sw-entity-listing
                v-if="items"
                :items="items"
                :repository="repository"
                :isLoading="isLoading"
                :columns="columns"
                detailRoute="moorl.sorting.detail">
        </sw-entity-listing>
    </template>
</sw-page>
