{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_body_inner %}
    {{ parent() }}

    <div class="modal fade" id="moorlFoundationModal" tabindex="-1" role="dialog" aria-hidden="true">
        {% sw_include "@Storefront/plugin/moorl-foundation/modal.html.twig" with {
            modal: {
                centered: true,
                size: 'lg',
                title: 'Foundation Modal',
                body: '<p>This Modal is powered by moori Foundation</p>',
                button: false
            }
        } %}
    </div>
{% endblock %}