<div class="moorl-animation">
    <sw-collapse
            v-for="currentConfig, index in value"
            :ref="'moorl-animation_' + index"
            class="moorl-collapse"
    >
        <template #header="{ expanded }">
            <h4>{{ $tc('moorl-animation.label.cssSelector') }}</h4>

            <sw-text-field
                    v-model:value="currentConfig.cssSelector"
                    :placeholder="$tc('moorl-animation.placeholder.cssSelector')"
            />

            <div>
                <sw-icon @click="deleteEntry(index)" name="regular-trash" small/>
            </div>

            <div>
                <sw-icon
                        v-if="expanded"
                        small
                        name="regular-chevron-down-s"
                />
                <sw-icon
                        v-else
                        small
                        name="regular-chevron-right-s"
                />
            </div>
        </template>

        <template #content>
            <moorl-animation-fieldset v-model:item="currentConfig"/>
        </template>
    </sw-collapse>

    <sw-button :block="true" @click="addEntry" variant="ghost">
        <span>
            <sw-icon name="regular-plus-s" :small="true"/>
            {{ $tc('moorl-animation.label.add') }}
        </span>
    </sw-button>
</div>
