<div class="sw-cms-el-preview-moorl-default">
    <div class="moorl-default" :style="style">
        <div class="moorl-default-box">
            <ul class="moorl-default-box-icons">
                <li>
                    <img v-if="!!plugin.icon" :src="`data:image/png;base64, ${plugin.icon}`" alt="">
                </li>

                <li v-if="element.icon">
                    <mt-icon :name="element.icon"/>
                </li>
            </ul>

            <div class="moorl-default-box-label"
                 :title="plugin.translated.label">
                {{ plugin.translated.label }}
            </div>
        </div>
    </div>
</div>
