<div class="sw-cms-el-preview-moorl-default">
    <img
            v-if="!!plugin.icon"
            class="sw-plugin-box__icon"
            :src="`data:image/png;base64, ${plugin.icon}`"
            alt=""
    >
</div>
