<div class="moorl-product-buy-list-v2-options">
    <sw-card-section divider="bottom" slim v-if="isEnabled('layout')">
        <h4>{{ $tc('sw-cms.elements.moorl-product-buy-list.title.layout') }}</h4>

        <sw-container  columns="1fr 1fr" gap="0px 20px">
            <sw-select-field
                    :label="$tc('moorl-cms.elements.general.config.label.style')"
                    v-model:value="value.layout"
            >
                <option value="banner-content">banner-content</option>
                <option value="content-banner">content-banner</option>
            </sw-select-field>

            <sw-switch-field
                    v-model:value="value.showBanner"
                    bordered
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.showBanner')"
            />

            <sw-switch-field
                    v-model:value="value.showTitleDescription"
                    bordered
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.showTitleDescription')"
            />

            <sw-switch-field
                    v-model:value="value.showProductBuyList"
                    bordered
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.showProductBuyList')"
            />

            <sw-text-field
                    v-model:value="value.minWidth"
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.minWidth')"
            />
        </sw-container>
    </sw-card-section>

    <sw-card-section divider="bottom" slim v-if="isEnabled('product-buy-list') && value.showProductBuyList">
        <h4>{{ $tc('sw-cms.elements.moorl-product-buy-list.title.productBuyList') }}</h4>

        <sw-container columns="1fr 1fr" gap="0px 20px">
            <sw-switch-field
                    v-model:value="value.enablePrices"
                    bordered
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.enablePrices')"
            />

            <sw-switch-field
                    v-model:value="value.enableVariantSwitch"
                    bordered
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.enableVariantSwitch')"
            />

            <sw-switch-field
                    v-model:value="value.enableAddToCartAll"
                    bordered
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.enableAddToCartAll')"
            />

            <sw-switch-field
                    v-model:value="value.enableSelection"
                    bordered
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.enableSelection')"
            />

            <sw-switch-field
                    v-model:value="value.enableAddToCartSingle"
                    bordered
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.enableAddToCartSingle')"
            />

            <sw-switch-field
                    v-model:value="value.enableDirectUrl"
                    bordered
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.enableDirectUrl')"
            />
        </sw-container>
    </sw-card-section>

    <sw-card-section divider="bottom" slim v-if="isEnabled('hotspots') && value.showBanner">
        <h4>{{ $tc('sw-cms.elements.moorl-product-buy-list.title.hotspots') }}</h4>

        <sw-container columns="1fr 1fr" gap="0px 20px">
            <sw-switch-field
                    v-model:value="value.showHotspots"
                    bordered
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.showHotspots')"
            />

            <sw-select-field
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.hotspotAnimation')"
                    v-model:value="value.hotspotAnimation"
            >
                <option value="pulse">pulse</option>
            </sw-select-field>
        </sw-container>
    </sw-card-section>

    <sw-card-section divider="bottom" slim v-if="isEnabled('stock') && value.showBanner">
        <h4>{{ $tc('sw-cms.elements.moorl-product-buy-list.title.stock') }}</h4>

        <sw-container columns="1fr 1fr" gap="0px 20px">
            <sw-switch-field
                    v-model:value="value.showStock"
                    bordered
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.showStock')"
            />
        </sw-container>
    </sw-card-section>

    <sw-card-section divider="bottom" slim v-if="isEnabled('countdown') && value.showBanner">
        <h4>{{ $tc('sw-cms.elements.moorl-product-buy-list.title.countdown') }}</h4>

        <sw-container columns="1fr 1fr" gap="0px 20px">
            <sw-switch-field
                    v-model:value="value.showCountdown"
                    bordered
                    :label="$tc('sw-cms.elements.moorl-product-buy-list.label.showCountdown')"
            />
        </sw-container>
    </sw-card-section>
</div>
