<div class="sw-cms-el-preview-moorl-share">
    <p>{{ $tc(label) }}</p>
    <hr/>
    <div class="sw-cms-el-preview-moorl-share-grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>