{% block moorl_thing_card %}
    <sw-card class="moorl-thing-card" :title="$tc('moorl-foundation.card.thing')">
        <div v-if="isVisible('mediaId')" class="sw-field">
            <sw-upload-listener
                    :upload-tag="item.id"
                    auto-upload
                    @media-upload-finish="setMediaItem"
            />
            <sw-media-upload-v2
                    :upload-tag="item.id"
                    default-folder="product_manufacturer"
                    :source="item.mediaId"
                    :allowMultiSelect="false"
                    :label="$tc('moorl-foundation.properties.logo')"
                    variant="regular"
                    @sw-media-upload-media-upload-success="setMediaItem"
                    @media-drop="onDropMedia"
                    @media-upload-sidebar-open="onOpenMediaModal"
                    @media-upload-remove-image="onUnlinkMedia"
            />
        </div>

        <sw-text-field :label="$tc('moorl-foundation.properties.name')" v-model:value="item.name" required validation="required" :error="itemNameError"/>
        <sw-switch-field bordered :label="$tc('moorl-foundation.properties.active')" v-model:value="item.active"/>
        <sw-textarea-field :label="$tc('moorl-foundation.properties.teaser')" v-model:value="item.teaser"/>
        <sw-text-editor :label="$tc('moorl-foundation.properties.description')" v-model:value="item.description"/>
        <sw-text-field :label="$tc('moorl-foundation.properties.seoUrl')" v-model:value="item.seoUrl">
            <template #hint>
                <div>
                    <router-link target="_blank" rel="noopener" :to="{name: 'sw.settings.seo.index'}">{{ $tc('moorl-foundation.helpText.seoUrl') }}</router-link>
                    <span v-pre>{&percnt; if item.translated.seoUrl &percnt;}{{ item.translated.seoUrl }}{&percnt; else &percnt;}item/{{ item.translated.name }}{&percnt; endif &percnt;}</span>
                </div>
            </template>
        </sw-text-field>
        <sw-textarea-field :label="$tc('moorl-foundation.properties.keywords')" v-model:value="item.keywords"/>
        <sw-text-field :label="$tc('moorl-foundation.properties.metaTitle')" v-model:value="item.metaTitle"/>
        <sw-textarea-field :label="$tc('moorl-foundation.properties.metaDescription')" name="teaser" v-model:value="item.metaDescription"/>

        <slot name="append"/>

        <sw-media-modal-v2
                variant="full"
                v-if="isVisible('mediaId') && mediaModalIsOpen"
                :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                :allowMultiSelect="false"
                @media-upload-remove-image="onUnlinkMedia"
                @media-modal-selection-change="onSelectionChanges"
                @modal-close="onCloseModal"
        />
    </sw-card>
{% endblock %}
