{% block moorl_thing_card %}
    <sw-card class="moorl-thing-card" :title="$tc('moorl-foundation.card.thing')">
        <div v-if="isVisible('mediaId')" class="sw-field">
            <sw-upload-listener
                    :uploadTag="item.id"
                    autoUpload
                    @media-upload-finish="setMediaItem">
            </sw-upload-listener>
            <sw-media-upload-v2
                    :uploadTag="item.id"
                    defaultFolder="product_manufacturer"
                    :source="item.mediaId"
                    :allowMultiSelect="false"
                    :label="$tc('moorl-foundation.properties.logo')"
                    variant="regular"
                    @sw-media-upload-media-upload-success="setMediaItem"
                    @media-drop="onDropMedia"
                    @media-upload-sidebar-open="onOpenMediaModal"
                    @media-upload-remove-image="onUnlinkMedia">
            </sw-media-upload-v2>
        </div>
        
        <sw-field :label="$tc('moorl-foundation.properties.name')" v-model="item.name" required validation="required" :error="itemNameError"/>
        <sw-field type="switch" bordered :label="$tc('moorl-foundation.properties.active')" v-model="item.active"/>
        <sw-field type="textarea" :label="$tc('moorl-foundation.properties.teaser')" v-model="item.teaser"/>
        <sw-text-editor :label="$tc('moorl-foundation.properties.description')" v-model="item.description"/>
        <sw-field type="textarea" :label="$tc('moorl-foundation.properties.keywords')" v-model="item.keywords"/>
        <sw-field :label="$tc('moorl-foundation.properties.metaTitle')" v-model="item.metaTitle"/>
        <sw-field type="textarea" :label="$tc('moorl-foundation.properties.metaDescription')" name="teaser" v-model="item.metaDescription"/>
        
        <slot name="append"/>

        <sw-media-modal-v2
                v-if="isVisible('mediaId')"
                variant="regular"
                v-if="mediaModalIsOpen"
                :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                :allowMultiSelect="false"
                @media-upload-remove-image="onUnlinkMedia"
                @media-modal-selection-change="onSelectionChanges"
                @modal-close="onCloseModal"
        />
    </sw-card>
{% endblock %}
