<div class="moorl-element-animation">
    <sw-collapse :ref="'moorl-element-animation'">
        <template #header="{ expanded }">
            <div class="collapse-header" :class="expanded ? 'expanded' : ''">
                <h4>{{ $tc(snippetPrefix + 'title') }}</h4>

                <div class="collapse-indicator">
                    <sw-icon v-if="expanded"
                             class="sw-media-collapse__button"
                             name="small-arrow-small-down">
                    </sw-icon>
                    <sw-icon v-else
                             class="sw-media-collapse__button"
                             name="small-arrow-small-right">
                    </sw-icon>
                </div>
            </div>
        </template>

        <template #content>
            <div class="collapse-content">
                <sw-select-field :label="$tc(snippetPrefix + 'label.animateIn')"
                                 :helpText="$tc(snippetPrefix + 'helpText.animate')"
                                 v-model="element.config.animateIn.value">
                    <optgroup v-for="item in moorlFoundation.animateCss" :label="item.optgroup">
                        <option v-for="value in item.options" :value="value">{{ value }}</option>
                    </optgroup>
                </sw-select-field>

                <sw-select-field :label="$tc(snippetPrefix + 'label.rule')"
                                 v-model="element.config.animateInRule.value">
                    <option v-for="value in ['isLoaded','isOverBottom','isInViewport']" :value="value">
                        {{ $tc(snippetPrefix + 'label.' + value) }}
                    </option>
                </sw-select-field>

                <sw-field v-model="element.config.animateInSpeed.value"
                          type="number"
                          :label="$tc(snippetPrefix + 'label.speed')">
                </sw-field>

                <sw-field v-model="element.config.animateInTimeout.value"
                          type="number"
                          :label="$tc(snippetPrefix + 'label.timeout')">
                </sw-field>

                <sw-select-field :label="$tc(snippetPrefix + 'label.animateOut')"
                                 :helpText="$tc(snippetPrefix + 'helpText.animate')"
                                 v-model="element.config.animateOut.value">
                    <optgroup v-for="item in moorlFoundation.animateCss" :label="item.optgroup">
                        <option v-for="value in item.options" :value="value">{{ value }}</option>
                    </optgroup>
                </sw-select-field>

                <sw-select-field :label="$tc(snippetPrefix + 'label.rule')"
                                 v-model="element.config.animateOutRule.value">
                    <option v-for="value in ['isLoaded','isOverBottom','isInViewport']" :value="value">
                        {{ $tc(snippetPrefix + 'label.' + value) }}
                    </option>
                </sw-select-field>

                <sw-field v-model="element.config.animateOutSpeed.value"
                          type="number"
                          :label="$tc(snippetPrefix + 'label.speed')">
                </sw-field>

                <sw-field v-model="element.config.animateOutTimeout.value"
                          type="number"
                          :label="$tc(snippetPrefix + 'label.timeout')">
                </sw-field>

                <sw-select-field :label="$tc(snippetPrefix + 'label.animateHover')"
                                 :helpText="$tc(snippetPrefix + 'helpText.animate')"
                                 v-model="element.config.animateHover.value">
                    <optgroup v-for="item in moorlFoundation.animateCss" :label="item.optgroup">
                        <option v-for="value in item.options" :value="value">{{ value }}</option>
                    </optgroup>
                </sw-select-field>

                <sw-select-field :label="$tc(snippetPrefix + 'label.rule')"
                                 v-model="element.config.animateHoverRule.value">
                    <option v-for="value in ['isLoaded','isOverBottom','isInViewport']" :value="value">
                        {{ $tc(snippetPrefix + 'label.' + value) }}
                    </option>
                </sw-select-field>

                <sw-field v-model="element.config.animateHoverSpeed.value"
                          type="number"
                          :label="$tc(snippetPrefix + 'label.speed')">
                </sw-field>

                <sw-field v-model="element.config.animateHoverTimeout.value"
                          type="number"
                          :label="$tc(snippetPrefix + 'label.timeout')">
                </sw-field>
            </div>

            <pre>{{ element.config }}</pre>
        </template>
    </sw-collapse>
</div>