<div class="sw-cms-el-config-moorl-search-hero">
    <sw-tabs class="sw-cms-el-config-moorl-search-hero__tabs" default-item="general">
        <template #default="{ active }">
            <sw-tabs-item :title="$tc(snippetPrefix + 'tab.general')"
                          name="general"
                          :activeTab="active">
                {{ $tc(snippetPrefix + 'tab.general') }}
            </sw-tabs-item>
            <sw-tabs-item :title="$tc(snippetPrefix + 'tab.media')"
                          name="media"
                          :activeTab="active">
                {{ $tc(snippetPrefix + 'tab.media') }}
            </sw-tabs-item>
            <sw-tabs-item v-if="element.config.captionActive.value"
                          :title="$tc(snippetPrefix + 'tab.caption')"
                          name="caption"
                          :activeTab="active">
            {{ $tc(snippetPrefix + 'tab.caption') }}
            </sw-tabs-item>
        </template>

        <template #content="{ active }">
            <sw-container v-if="active === 'general'" class="sw-cms-el-config-moorl-search-hero__tab-general">
                <sw-text-field
                        v-model:value="element.config.elementHeight.value"
                        :label="$tc(snippetPrefix + 'config.elementHeight')"
                />

                <sw-switch-field
                        v-model:value="element.config.searchActive.value"
                        bordered
                        :label="$tc(snippetPrefix + 'config.searchActive')"
                />

                <sw-switch-field
                        v-model:value="element.config.captionActive.value"
                        bordered
                        :label="$tc(snippetPrefix + 'config.captionActive')"
                />
            </sw-container>

            <sw-container v-if="active === 'media'" class="sw-cms-el-config-moorl-search-hero__tab-media">
                <div class="sw-field">
                    <sw-media-upload-v2
                            :upload-tag="uploadTag"
                            :source="previewSource"
                            :allow-multi-select="false"
                            :default-folder="cmsPageState.pageEntityName"
                            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                            @media-upload-sidebar-open="onOpenMediaModal"
                            @media-upload-remove-image="onImageRemove"
                    />

                    <sw-upload-listener
                            :uploadTag="uploadTag"
                            autoUpload
                            @media-upload-finish="onImageUpload"
                    />
                </div>

                <sw-select-field :label="$tc(snippetPrefix +'config.backgroundAttachment')"
                                 v-model:value="element.config.backgroundAttachment.value">
                    <option value="fixed">{{ $tc(snippetPrefix + 'config.fixed') }}</option>
                    <option value="not-fixed">{{ $tc(snippetPrefix + 'config.notFixed') }}</option>
                </sw-select-field>

                <sw-select-field :label="$tc(snippetPrefix +'config.backgroundRepeat')"
                                 v-model:value="element.config.backgroundRepeat.value">
                    <option value="repeat">{{ $tc(snippetPrefix + 'config.repeat') }}</option>
                    <option value="no-epeat">{{ $tc(snippetPrefix + 'config.noRepeat') }}</option>
                </sw-select-field>

                <sw-select-field :label="$tc(snippetPrefix + 'config.backgroundSize')"
                                 v-model:value="element.config.backgroundSize.value">
                    <option value="cover">{{ $tc(snippetPrefix + 'config.cover') }}</option>
                    <option value="contain">{{ $tc(snippetPrefix + 'config.contain') }}</option>
                </sw-select-field>

                <sw-select-field :label="$tc(snippetPrefix +'config.backgroundPosition')"
                                 v-model:value="element.config.backgroundPosition.value">
                    <option value="left top">{{ $tc(snippetPrefix + 'config.leftTop') }}</option>
                    <option value="left center">{{ $tc(snippetPrefix + 'config.leftCenter') }}</option>
                    <option value="left bottom">{{ $tc(snippetPrefix + 'config.leftBottom') }}</option>
                    <option value="right top">{{ $tc(snippetPrefix + 'config.rightTop') }}</option>
                    <option value="right center">{{ $tc(snippetPrefix + 'config.rightCenter') }}</option>
                    <option value="right bottom">{{ $tc(snippetPrefix + 'config.rightBottom') }}</option>
                    <option value="center top">{{ $tc(snippetPrefix + 'config.centerTop') }}</option>
                    <option value="center center">{{ $tc(snippetPrefix + 'config.centerCenter') }}</option>
                    <option value="center bottom">{{ $tc(snippetPrefix + 'config.centerBottom') }}</option>
                </sw-select-field>
            </sw-container>

            <sw-container v-if="active === 'caption'" class="sw-cms-el-config-moorl-search-hero__tab-caption">
                <sw-text-field
                        v-model:value="element.config.headline.value"
                        :label="$tc(snippetPrefix + 'config.headline')"
                />
                <sw-text-field
                        v-model:value="element.config.subHeadline.value"
                        :label="$tc(snippetPrefix + 'config.subHeadline')"
                />
                <sw-colorpicker
                        colorOutput="hex"
                        :zIndex="1000"
                        :label="$tc(snippetPrefix + 'config.textColor')"
                        v-model:value="element.config.textColor.value"
                />
                <sw-switch-field
                        v-model:value="element.config.textShadowActive.value"
                        bordered
                        :label="$tc(snippetPrefix + 'config.textShadowActive')"
                />
            </sw-container>
        </template>
    </sw-tabs>

    <sw-media-modal-v2
            v-if="mediaModalIsOpen"
            variant="full"
            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
            :entity-context="cmsPageState.entityName"
            :allow-multi-select="false"
            :initial-folder-id="cmsPageState.defaultMediaFolderId"
            @media-upload-remove-image="onImageRemove"
            @media-modal-selection-change="onSelectionChanges"
            @modal-close="onCloseModal"
    />
</div>
