{% block moorl_foundation_listing_slider %}
    {% if searchResult.elements %}
        <div class="cms-element-{{ element.type }}">
            {% set productSliderOptions = {
                productboxMinWidth: config.elMinWidth.value ? config.elMinWidth.value : '',
                slider: {
                    gutter: 20,
                    autoplayButtonOutput: false,
                    nav: false,
                    mouseDrag: config.navigation.value ? false : true,
                    controls: config.navigation.value ? true : false,
                    autoplay: config.rotate.value ? true : false
                }
            } %}

            <div class="base-slider product-slider"
                 data-product-slider="true"
                 data-product-slider-options="{{ productSliderOptions|json_encode }}">
                <div class="product-slider-container"
                     data-product-slider-container="true">
                    {% for item in searchResult %}
                        {% block moorl_foundation_listing_item %}
                            {% sw_include '@Storefront/plugin/moorl-foundation/listing-item.html.twig' %}
                        {% endblock %}
                    {% endfor %}
                </div>

                {% if config.navigation.value %}
                    <div class="product-slider-controls-container">
                        <div class="base-slider-controls"
                             data-product-slider-controls="true">
                            <button class="base-slider-controls-prev product-slider-controls-prev">
                                {% sw_icon 'arrow-head-left' %}
                            </button>
                            <button class="base-slider-controls-next product-slider-controls-next">
                                {% sw_icon 'arrow-head-right' %}
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
