<div class="moorl-opening-hours">
    {% for dayItem in openingHours %}
        <div class="form-row">
            <div class="col-12 col-md-5">
                <div>{{ "moorl-foundation.days.#{dayItem.day}"|trans }}:</div>
            </div>
            <div class="col-12 col-md-7">
                {% if not dayItem.times %}
                    <span class="moorl-opening-hours-range closed">
                            {{ dayItem.info ? dayItem.info|trans : "moorl-foundation.days.closed"|trans }}
                        </span>
                {% else %}
                    {% for time in dayItem.times %}
                        {% if time.from %}
                            <span class="moorl-opening-hours-range">
                                    {{ time.from|slice(0, 5) }}-{{ time.until|slice(0, 5) }}
                                </span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
