{% block sw_cms_mapping_field_mapping_value %}
    <div class="sw-cms-mapping-field__mapping-value">
        <sw-field v-model="config.value"
                  type="text"
                  :label="$tc('sw-cms.detail.label.mappingPreview')">
        </sw-field>
    </div>
{% endblock %}
