<div class="moorl-section-grid-config">
    <sw-select-field
            v-model="section.customFields.moorl_section_column_count"
            :label="$tc('moorl-section-grid-config.label.sectionColumnCount')"
            @change="initCustomFields">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </sw-select-field>

    <sw-number-field
            v-model="section.customFields.moorl_section_spacing"
            :label="$tc('moorl-section-grid-config.label.sectionSpacing')"
            @change="initCustomFields"
    />

    <div v-for="(configItem, configIndex) in section.customFields.moorl_section_grid_config"
         :key="configIndex">
        <div class="sw-cms-sidebar__navigator-section-spacer"></div>

        <moorl-bs-config
                :label="$tc('moorl-section-grid-config.label.colNumber') + (configIndex + 1)"
                v-model="configItem.value"
        />

        <sw-field type="switch"
                  bordered
                  :label="$tc('moorl-section-grid-config.label.isSidebar')"
                  v-model="configItem.isSidebar"
        />

        <sw-field type="switch"
                  bordered
                  :label="$tc('moorl-section-grid-config.label.isSticky')"
                  v-model="configItem.isSticky"
        />

        <sw-text-field
                v-if="configItem.isSticky"
                :label="$tc('moorl-section-grid-config.label.offsetTop')"
                v-model="configItem.offsetTop"
        />

        <sw-select-field
                v-model="configItem.justifyContent"
                :options="flexAlignments"
                :label="$tc('moorl-section-grid-config.label.justifyContent')"
        />

        <sw-select-field
                v-model="configItem.alignItems"
                :options="flexAlignments"
                :label="$tc('moorl-section-grid-config.label.alignItems')"
        />
    </div>
</div>
