<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Add-ons</title>
        <title lang="de-DE">Add-Ons</title>
        <input-field type="bool">
            <name>fontawesome</name>
            <label>Enable Font Awesome 5 Free</label>
            <label lang="de-DE">Aktiviere Font Awesome 5 Free</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>animate</name>
            <label>Enable Animate.css</label>
            <label lang="de-DE">Aktiviere Animate.css</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>moori Advanced search</title>
        <title lang="de-DE">Erweiterte Suche</title>
        <input-field type="bool">
            <name>advancedSearchActive</name>
            <label>Enable advanced search</label>
            <label lang="de-DE">Erweiterte Suche aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>advancedSearchHideEmptyResults</name>
            <label>Hide empty search results</label>
            <label lang="de-DE">Leere Suchergebnisse verstecken</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="text">
            <name>advancedSearchWidth</name>
            <label>Width of the search suggest element</label>
            <label lang="de-DE">Breite des Suchvorschläge Elementes</label>
            <defaultValue>600px</defaultValue>
            <placeholder>100%,600px,90vw</placeholder>
        </input-field>
    </card>

    <card>
        <title>moori Animation</title>
        <title lang="de-DE">moori Animation</title>
        <component name="moorl-animation">
            <name>moorlAnimation</name>
        </component>
    </card>

    <card>
        <title>moori plugin settings</title>
        <title lang="de-DE">moori Plugin Einstellungen</title>
        <input-field type="text">
            <name>fileExtensions</name>
            <label>Additional file types</label>
            <label lang="de-DE">Zusätzliche Dateitypen</label>
            <placeholder>zip,rar,psd,docx etc...</placeholder>
            <defaultValue>zip,rar,psd,docx</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>cmsElements</name>
            <label>Remove CMS elements when uninstalling</label>
            <label lang="de-DE">CMS Elemente beim deinstallieren entfernen</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>mailTemplates</name>
            <label>Remove/Refresh email templates when uninstalling/activating</label>
            <label lang="de-DE">Entfernen/Erneuern von E-Mail Templates beim Deinstallieren/Aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>customFields</name>
            <label>Remove/Refresh custom fields when uninstalling/activating</label>
            <label lang="de-DE">Entfernen/Erneuern von Freitextfeldern beim Deinstallieren/Aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>snippets</name>
            <label>Remove/Refresh snippets when uninstalling/activating</label>
            <label lang="de-DE">Entfernen/Erneuern von Textbausteinen beim Deinstallieren/Aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>
