.sw-cms-el-studygood-moorl-usp {
    .moorl-usp-container{
        display: flex;
        align-items: center;

        .icon-container{
            margin-right: 15px;
            font-size: 1.6em;
        }

        .text-container{
            .headline{
                font-size:1.3em;
            }
        }
    }
}
