<sw-page class="moorl-foundation-article-list">
    <template slot="smart-bar-header">
        <h2>
            {{ $tc('moorl-foundation-article.general.news') }}
        </h2>
    </template>

    <template slot="smart-bar-actions">
        <sw-button variant="primary" @click="deleteItems">
            {{ $tc('moorl-foundation-article.general.truncate') }}
        </sw-button>
    </template>

    <template slot="content">
        <div class="sw-data-grid is--compact sw-data-grid--full-page sw-data-grid--actions is--scroll-x">
            <div class="articles">
                <div v-if="!loading" v-for="article in records" class="article">
                    <figure>
                        <div class="article-image">
                            <img v-if="article.mediaUrl" :src="article.mediaUrl">
                        </div>

                        <figcaption>
                            <p><small>{{ article.author }} | {{ article.date|date() }}</small></p>

                            <h3>{{ article.title }}</h3>

                            <p>{{ article.teaser }}</p>

                            <a target="_blank" :href="article.articleUrl" class="sw-button sw-button--primary">
                                {{ $tc('moorl-foundation-article.general.openUrl') }}
                            </a>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <sw-pagination :page="page"
                           :limit="limit"
                           :total="total"
                           @page-change="paginate">
            </sw-pagination>
        </div>
    </template>
</sw-page>