<div class="sw-cms-el-preview-moorl-foundation-listing">
    <p>{{ $tc(label) }}</p>
    <hr>
    <div class="sw-cms-el-preview-moorl-foundation-listing-grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
