<div v-if="!isLoading" class="moorl-listing-config">
    <sw-tabs default-item="layout">
        <template #default="{ active }">
            <sw-tabs-item name="layout"
                          :activeTab="active">
                {{ $tc('sw-cms.elements.moorl-foundation-listing.tab.layout') }}
            </sw-tabs-item>

            <sw-tabs-item v-if="value.listingLayout.value === 'slider'"
                          name="slider"
                          :activeTab="active">
                {{ $tc('sw-cms.elements.moorl-foundation-listing.tab.slider') }}
            </sw-tabs-item>

            <sw-tabs-item v-if="value.listingLayout.value !== 'search-suggest'"
                          name="item"
                          :activeTab="active">
                {{ $tc('sw-cms.elements.moorl-foundation-listing.tab.item') }}
            </sw-tabs-item>

            <sw-tabs-item v-if="value.listingLayout.value !== 'search-suggest'"
                          name="content"
                          :activeTab="active">
                {{ $tc('sw-cms.elements.moorl-foundation-listing.tab.content') }}
            </sw-tabs-item>
        </template>

        <template #content="{ active }">
            <sw-container v-if="active === 'layout'" columns="1fr 1fr" gap="0px 30px">
                <sw-select-field :label="$tc('sw-cms.elements.moorl-foundation-listing.label.listingLayout')"
                                 v-model:value="value.listingLayout.value">
                    <option v-for="option in elementOptions.listingLayout" :value="option.value">{{ $tc(option.label) }}</option>
                </sw-select-field>

                <sw-select-field v-if="value.listingLayout.value == 'standard'"
                                 :label="$tc('sw-cms.elements.moorl-foundation-listing.label.listingJustifyContent')"
                                 v-model:value="value.listingJustifyContent.value">
                    <option v-for="option in elementOptions.listingJustifyContent" :value="option.value">{{ $tc(option.label) }}</option>
                </sw-select-field>

                <template v-if="value.listingLayout.value !== 'search-suggest'">
                    <sw-select-field :label="$tc('sw-cms.elements.moorl-foundation-listing.label.itemLayout')"
                                     v-model:value="value.itemLayout.value">
                        <option v-for="option in elementOptions.itemLayout" :value="option.value">{{ $tc(option.label) }}</option>
                    </sw-select-field>

                    <sw-text-field
                            v-if="value.itemLayout.value == 'custom'"
                            v-model:value="value.itemLayoutTemplate.value"
                            :label="$tc('sw-cms.elements.moorl-foundation-listing.label.itemLayoutTemplate')"
                    />

                    <sw-select-field :label="$tc('sw-cms.elements.moorl-foundation-listing.label.displayMode')"
                                     v-model:value="value.displayMode.value">
                        <option v-for="option in elementOptions.displayMode" :value="option.value">{{ $tc(option.label) }}</option>
                    </sw-select-field>

                    <sw-text-field
                            v-model:value="value.gapSize.value"
                            :label="$tc('sw-cms.elements.moorl-foundation-listing.label.gapSize')"
                    />
                </template>
            </sw-container>

            <sw-container v-if="active === 'slider'"
                          columns="1fr 1fr"
                          gap="0px 30px">
                <sw-select-field :label="$tc('sw-cms.elements.moorl-foundation-listing.label.mode')"
                                 v-model:value="value.mode.value"
                                 show-clearable-button>
                    <option v-for="option in elementOptions.mode" :value="option.value">{{ $tc(option.label) }}</option>
                </sw-select-field>

                <sw-select-field :label="$tc('sw-cms.elements.moorl-foundation-listing.label.navigationArrows')"
                                 v-model:value="value.navigationArrows.value"
                                 show-clearable-button>
                    <option v-for="option in elementOptions.navigationArrows" :value="option.value">{{ $tc(option.label) }}</option>
                </sw-select-field>

                <sw-select-field :label="$tc('sw-cms.elements.moorl-foundation-listing.label.navigationDots')"
                                 v-model:value="value.navigationDots.value"
                                 show-clearable-button>
                    <option v-for="option in elementOptions.navigationDots" :value="option.value">{{ $tc(option.label) }}</option>
                </sw-select-field>

                <sw-number-field
                        v-model:value="value.speed.value"
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.speed')"
                />

                <sw-number-field
                        v-model:value="value.autoplayTimeout.value"
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.autoplayTimeout')"
                />

                <sw-switch-field
                        v-model:value="value.autoplay.value"
                        bordered
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.autoplay')"
                />

                <sw-switch-field
                        v-model:value="value.autoplayHoverPause.value"
                        bordered
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.autoplayHoverPause')"
                />

                <sw-switch-field
                        v-model:value="value.mouseDrag.value"
                        bordered
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.mouseDrag')"
                />

                <sw-select-field v-if="value.mode.value === 'gallery'"
                                 :label="$tc('sw-cms.elements.moorl-foundation-listing.label.animateIn')"
                                 :placeholder="$tc('sw-cms.elements.moorl-foundation-listing.label.animateIn')"
                                 v-model:value="value.animateIn.value">
                    <optgroup v-for="item in moorlFoundation.animateCss" :label="item.optgroup">
                        <option v-for="value in item.options" :value="value">{{ value }}</option>
                    </optgroup>
                </sw-select-field>

                <sw-select-field v-if="value.mode.value === 'gallery'"
                                 :label="$tc('sw-cms.elements.moorl-foundation-listing.label.animateOut')"
                                 :placeholder="$tc('sw-cms.elements.moorl-foundation-listing.label.animateIn')"
                                 v-model:value="value.animateOut.value">
                    <optgroup v-for="item in moorlFoundation.animateCss" :label="item.optgroup">
                        <option v-for="value in item.options" :value="value">{{ value }}</option>
                    </optgroup>
                </sw-select-field>
            </sw-container>

            <sw-container v-if="active === 'item'" columns="1fr 1fr" gap="0px 30px">
                <sw-text-field
                        v-model:value="value.itemWidth.value"
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.itemWidth')"
                />

                <sw-text-field
                        v-model:value="value.itemHeight.value"
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.itemHeight')"
                />

                <sw-text-field
                        v-model:value="value.itemPadding.value"
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.itemPadding')"
                />

                <sw-colorpicker
                        v-model:value="value.itemBackgroundColor.value"
                        colorOutput="hex"
                        :zIndex="1000"
                        :alpha="false"
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.itemBackgroundColor')"
                />

                <sw-switch-field
                        v-model:value="value.itemHasBorder.value"
                        bordered
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.itemHasBorder')"
                />
            </sw-container>

            <sw-container v-if="active === 'content'" columns="1fr 1fr" gap="0px 30px">
                <sw-select-field :label="$tc('sw-cms.elements.moorl-foundation-listing.label.textAlign')"
                                 v-model:value="value.textAlign.value">
                    <option v-for="option in elementOptions.textAlign" :value="option.value">{{ $tc(option.label) }}</option>
                </sw-select-field>

                <sw-text-field
                        v-model:value="value.contentPadding.value"
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.contentPadding')"
                />

                <sw-colorpicker
                        v-model:value="value.contentBackgroundColor.value"
                        colorOutput="hex"
                        :zIndex="1000"
                        :alpha="true"
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.contentBackgroundColor')"
                />

                <sw-colorpicker
                        v-model:value="value.contentColor.value"
                        colorOutput="hex"
                        :zIndex="1000"
                        :alpha="false"
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.contentColor')"
                />

                <sw-switch-field
                        v-model:value="value.urlNewTab.value"
                        bordered
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.urlNewTab')"
                />

                <sw-switch-field
                        v-model:value="value.hasButton.value"
                        bordered
                        :label="$tc('sw-cms.elements.moorl-foundation-listing.label.hasButton')"
                />

                <template v-if="value.hasButton.value">
                    <sw-text-field
                            v-model:value="value.buttonClass.value"
                            :label="$tc('sw-cms.elements.moorl-foundation-listing.label.buttonClass')"
                    />

                    <sw-text-field
                            v-model:value="value.buttonLabel.value"
                            :label="$tc('sw-cms.elements.moorl-foundation-listing.label.buttonLabel')"
                    />
                </template>
            </sw-container>
        </template>
    </sw-tabs>
</div>
