.moorl-cookie-box {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $sw-background-color;
  color: $sw-text-color;
  padding: $spacer;
  border: 1px solid $sw-border-color;
  flex-direction: column;
  height: 100%;

  .moorl-cookie-box-icon {
    display: none;
  }

  svg {
    fill: $primary;
  }
}

@include media-breakpoint-up(md) {
  .moorl-cookie-box {
    .moorl-cookie-box-icon {
      display: block;
    }
  }
}
