.moorl-cookie-box {
  display: none;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(
                  45deg,
                  lighten($primary, 55%),
                  lighten($primary, 50%) 10px,
                  lighten($primary, 45%) 10px,
                  lighten($primary, 40%) 20px
  );
  color: $sw-text-color;
  flex-direction: column;
  height: 100%;
}
