.moorl-listing-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 15px;
  padding: 0;
}

.moorl-listing-grid {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  align-items: center;
  grid-gap: 20px;

  .moorl-listing-item {
    height: 100%;
    position: relative;
    overflow: hidden;

    .moorl-listing-item-image {
      position: absolute;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

    }
    .moorl-listing-item-overlay {
      position: absolute;
      width: 100%;
      background-color: rgba($black, .3);
      bottom: 0;
      color: $white;
      padding: 5px;
      line-height: 20px;
      transition: background-color .4s;

      .moorl-listing-item-title {
        height: 20px;
        font-size: 1.2em;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .moorl-listing-item-teaser {
        height: 0;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: height .4s;
      }
    }

    &:hover {
      .moorl-listing-item-overlay {
        background-color: rgba($black, .7);

        .moorl-listing-item-teaser {
          height: 60px;
        }
      }
    }
  }
}
