.moorl-product-buy-list {
  .moorl-product-buy-list-items {
    list-style: none;
    margin: 0;
    padding: 0;

    .moorl-product-buy-list-item {
      display: grid;
      grid-template-columns: 30px 130px 1fr 48px;
      align-items: center;
      grid-gap: 15px;
      border-bottom: 1px solid $border-color;
    }
  }

  .product-title {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .product-detail-configurator-option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
    align-items: center;
  }

  .total-price,
  .products-buy-form-list-item-info-price {
    font-size: 1.2em;
  }
}
