<div class="sw-cms-el-config-moorl-toc">
    <mt-banner variant="info">
        {{ $tc('sw-cms.elements.moorl-toc.description') }}
    </mt-banner>

    <sw-cms-inherit-wrapper
            field="content"
            :element="element"
            :label="$tc('sw-cms.elements.moorl-toc.label.content')"
    >
        <template #default="{ isInherited }">
            <sw-cms-mapping-field
                    v-model:config="element.config.content"
                    value-types="string"
            >
                <sw-code-editor
                        :label="$tc('sw-cms.elements.moorl-toc.label.content')"
                        :softWraps="false"
                        v-model:value="element.config.content.value"
                        :disabled="isInherited"
                />
            </sw-cms-mapping-field>
        </template>
    </sw-cms-inherit-wrapper>
</div>
