.moorl-countdown {
  cursor: pointer;
  display: flex;
  justify-content: center;
  column-gap: 10px;

  > div {
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .moorl-countdown-time {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-weight: 600;
  }

  .moorl-countdown-label {
    font-size: .7em;
    text-transform: uppercase;
  }
}
