<sw-page class="moorl-client-list">
    <template slot="smart-bar-header">
        <h2>
            {{ $tc('moorl-client.title') }}
        </h2>
    </template>

    <template slot="smart-bar-actions">
        <sw-button variant="primary" :routerLink="{ name: 'moorl.client.create' }">
            {{ $tc('moorl-foundation.buttons.newButtonText') }}
        </sw-button>
    </template>

    <sw-sidebar slot="sidebar">
        <sw-sidebar-item
                icon="default-arrow-360-left"
                :title="$t('moorl-foundation.buttons.refreshButtonText')"
                @click="getList"
        />
    </sw-sidebar>

    <template slot="content">
        <sw-entity-listing
                v-if="items"
                :items="items"
                :repository="repository"
                :showSelection="true"
                :columns="columns"
                detailRoute="moorl.client.detail"
                @select-item="updateSelection"
                @update-records="updateTotal">
            <template #more-actions="{ item }">
                <sw-context-menu-item @click="onDuplicate(item)">
                    {{ $tc('sw-product.list.buttonDuplicate') }}
                </sw-context-menu-item>
            </template>
        </sw-entity-listing>
    </template>
</sw-page>
