{% block moorl_animation %}
    <div class="moorl-animation-fieldset">
        <template v-for="type in ['in','out','hover']">
            <sw-switch-field
                    :label="$tc('moorl-animation-fieldset.label.active')"
                    bordered
                    v-model:value="item[type].active"
            />

            <moorl-select-field
                    :label="$tc('moorl-animation-fieldset.label.name.' + type)"
                    :helpText="$tc('helpText.name')"
                    v-model:value="item[type].name"
                    set="animateCss"
            />

            <moorl-select-field
                    :label="$tc('moorl-animation-fieldset.label.condition')"
                    v-model:value="item[type].condition"
                    set="domElementState"
            />

            <sw-number-field
                    v-model:value="item[type].duration"
                    :label="$tc('moorl-animation-fieldset.label.duration')"
            />

            <sw-number-field
                    v-model:value="item[type].delay"
                    :label="$tc('moorl-animation-fieldset.label.delay')"
            />
        </template>
    </div>
{% endblock %}
