<div class="moorl-block-behaviour">
    <moorl-bs-config
            v-model="value"
            :label="$tc(snippetPrefix + 'title')"
            :showOrder="false"
            :showWidth="false"
    />
</div>
