<div class="sw-cms-el-config-moorl-product-buy-list">
    <sw-cms-mapping-field
            v-model:value="element.config.products"
            entity="product"
            value-types="entity"
            :label="$tc('sw-cms.elements.moorl-product-buy-list.label.products')"
    >
        <sw-entity-multi-select
                class="sw-cms-el-config-product-slider__products"
                :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.selection')"
                v-model:entityCollection="productCollection"
                @update:entity-collection="onProductsChange"
                :context="productSearchContext"
                :criteria="productSearchCriteria"
        >
            <template #result-item="{ item, index }">
                <slot name="result-item" v-bind="{ item, index }">
                    <li is="sw-select-result" v-bind="{ item, index }">
                        <span class="sw-select-result__result-item-text">
                            <sw-product-variant-info :variations="item.variation">
                                {{ item.translated.name || item.name }}
                            </sw-product-variant-info>
                        </span>
                    </li>
                </slot>
            </template>
        </sw-entity-multi-select>
    </sw-cms-mapping-field>

    <sw-container columns="1fr 1fr" gap="0px 30px">
        <template v-for="product in products">
            <template v-if="element.config.productQuantities.value[product.id]">
                <sw-number-field
                        min="1"
                        max="100"
                        step="1"
                        :label="$tc('sw-cms.elements.moorl-product-buy-list.label.productQuantity') + ': ' + product.translated.name"
                        v-model:value="element.config.productQuantities.value[product.id]"
                />
            </template>
        </template>
    </sw-container>

    <sw-container columns="1fr 1fr" gap="0px 30px">
        <sw-switch-field
                v-model:value="element.config.enablePrices.value"
                bordered
                :label="$tc('sw-cms.elements.moorl-product-buy-list.label.enablePrices')"
        />

        <sw-switch-field
                v-model:value="element.config.enableVariantSwitch.value"
                bordered
                :label="$tc('sw-cms.elements.moorl-product-buy-list.label.enableVariantSwitch')"
        />

        <sw-switch-field
                v-model:value="element.config.enableAddToCartAll.value"
                bordered
                :label="$tc('sw-cms.elements.moorl-product-buy-list.label.enableAddToCartAll')"
        />

        <sw-switch-field
                v-model:value="element.config.enableAddToCartSingle.value"
                bordered
                :label="$tc('sw-cms.elements.moorl-product-buy-list.label.enableAddToCartSingle')"
        />

        <sw-switch-field
                v-model:value="element.config.enableDirectUrl.value"
                bordered
                :label="$tc('sw-cms.elements.moorl-product-buy-list.label.enableDirectUrl')"
        />

        <sw-text-field
                v-model:value="element.config.emptyText.value"
                :label="$tc('sw-cms.elements.moorl-product-buy-list.label.emptyText')"
        />
    </sw-container>
</div>
