<sw-page class="moorl-foundation-settings-demo-data">
    <template #content>
        <sw-card-view>
            <sw-card :isLoading="isLoading" :title="$tc('moorl-foundation.label.settingsDemoData')">
                <template v-if="options.length">
                    <sw-select-field
                            :label="$tc('moorl-foundation.properties.type')"
                            v-model:value="optionIndex"
                            @change="selectOption()">
                        <option v-for="(option, index) in options" :key="`option-${index}`" :value="index">
                            {{ $tc('moorl-foundation.label.standardDemo') }} ({{ option.name }} | {{ option.pluginName }})
                        </option>
                    </sw-select-field>

                    <sw-entity-single-select
                            :label="$tc('moorl-foundation.properties.salesChannel')"
                            v-model:value="item.salesChannelId"
                            labelProperty="name"
                            entity="sales_channel"
                    />

                    <sw-alert variant="warning">
                        {{ $tc('moorl-foundation-settings-demo-data.notification') }}
                    </sw-alert>

                    <sw-switch-field
                            :label="$tc('moorl-foundation-settings-demo-data.confirm')"
                            v-model:value="confirmed"
                    />

                    <sw-button variant="primary"
                               :disabled="!acl.can('system.system_config') || !confirmed"
                               @click="install()">
                        {{ $tc('moorl-foundation.buttons.startButtonText') }}
                    </sw-button>

                    <sw-button variant="primary"
                               :disabled="!acl.can('system.system_config')"
                               @click="remove()">
                        {{ $tc('moorl-foundation.buttons.removeButtonText') }}
                    </sw-button>
                </template>

                <template v-else>
                    <sw-alert variant="warning">
                        {{ $tc('moorl-foundation.notification.demoDataNotFound') }}
                    </sw-alert>
                </template>
            </sw-card>
        </sw-card-view>
    </template>
</sw-page>
