@import "~scss/variables";

.moorl-csv-import {
    .moorl-csv-import__top-bar {
        background-color: $color-gray-100;
        border-bottom: 1px solid $color-gray-100;
        padding: 25px;

        .sw-field--default,
        .sw-field {
            margin-bottom: 0;
            margin-top: 0;
        }

        .info {
            padding: 10px;
            border: 1px solid yellowgreen;
            background-color: mintcream;
        }
    }

    .sw-data-grid {
        .required {
            color: red;
        }

        .sw-field__label {
            display: none;
        }

        .sw-field--switch,
        .sw-field--switch__content {
            background: transparent;

            .sw-field__label {
                display: flex;
            }
        }

        .sw-field--textarea textarea {
            min-height: auto;
            max-height: 50px;
        }
    }

    &.sw-modal {
        .sw-modal__body {
            padding: 0;
        }
    }
}