<div class="sw-cms-el-config-moorl-download-list">
    <sw-cms-mapping-field
            v-model:value="element.config.downloads"
            entity="media"
            value-types="entity"
            :label="$tc('sw-cms.elements.moorl-download-list.label.downloads')"
    >
        <sw-entity-multi-select
                class="sw-cms-el-config-download-slider__downloads"
                v-model:value="downloadCollection"
                @change="onDownloadsChange"
                labelProperty="fileName"
                :context="downloadSearchContext"
                :criteria="downloadSearchCriteria">
        </sw-entity-multi-select>
    </sw-cms-mapping-field>

    <sw-select-field :label="$tc('sw-cms.elements.moorl-download-list.label.layout')"
                     v-model:value="element.config.layout.value">
        <option v-for="option in elementOptions.layout" :value="option.value">{{ $tc(option.label) }}</option>
    </sw-select-field>

    <sw-text-field
            v-model:value="element.config.emptyText.value"
            :label="$tc('sw-cms.elements.moorl-download-list.label.emptyText')"
    />
</div>
