@import "~scss/variables";

.moorl-file-explorer {
    .moorl-file-explorer-actions {
        display: flex;
        justify-content: end;
        margin-bottom: 20px;
    }

    .moorl-file-explorer-items {
        border: 1px solid $color-gray-300;
        border-bottom: 0;
    }

    .moorl-file-explorer-item {
        display: grid;
        padding: 10px;
        grid-template-columns: 48px 1fr auto;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-gray-300;
    }
}
