<div class="moorl-file-explorer">
    <sw-text-field
        v-model="value"
        :placeholder="placeholder"
        @change="listContents"
    />

    <div v-if="showActions" class="moorl-file-explorer-actions">
        <sw-button @click="showCreateDirModal = true">
            <sw-icon name="regular-save" small/>
            {{ $tc('moorl-file-explorer.actions.createDir') }}
        </sw-button>
    </div>

    <ul class="moorl-file-explorer-items">
        <li
                v-if="value"
                class="moorl-file-explorer-item"
        >
            <sw-icon name="regular-long-arrow-left"/>
            <div
                    class="link"
                    @click="changeDirectory('..')"
            >
                {{ $tc('moorl-file-explorer.label.parentDirectory') }}
            </div>
            <div></div>
        </li>

        <template v-for="item in items">
            <li
                    v-if="item.type == 'dir'"
                    class="moorl-file-explorer-item"
            >
                <sw-icon name="regular-folder"/>
                <div
                        class="link"
                        @click="changeDirectory(item.path)"
                >
                    {{ item.basename }}
                </div>
                <div>
                    <sw-button
                            v-if="showActions"
                            size="small"
                            square
                            @click="deleteDir(item.path)"
                    >
                        <sw-icon name="regular-trash" small/>
                    </sw-button>
                </div>
            </li>

            <li
                    v-else
                    class="moorl-file-explorer-item"
            >
                <sw-icon name="regular-file"/>
                <div
                        class="link"
                        @click="read(item.path)"
                >
                    {{ item.basename }}
                </div>
                <div>
                    <sw-button
                            v-if="showActions"
                            size="small"
                            square
                            @click="delete(item.path)"
                    >
                        <sw-icon name="regular-trash" small/>
                    </sw-button>
                </div>
            </li>
        </template>
    </ul>

    <sw-modal
        v-if="showCreateDirModal"
        :title="$tc('moorl-file-explorer.actions.createDir')"
        :closable="false"
    >
        <sw-text-field
                v-model="dirname"
        />

        <template #modal-footer>
            <sw-button @click="showCreateDirModal = false" size="small">
                {{ $tc('global.default.cancel') }}
            </sw-button>

            <sw-button variant="primary" @click="createDir" size="small">
                {{ $tc('global.default.save') }}
            </sw-button>
        </template>
    </sw-modal>
</div>
