[class*="cms-block-moorl-grid-layout-"] {
  overflow: visible;
}

.moorl-grid-layout {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template:
            "a" auto
            "b" auto
            "c" auto
            "d" auto
            "e" auto
            "f" auto / 1fr;

  > div,
  > a {
    box-sizing: border-box;
    height: auto;
    width: 100%;

    &:nth-child(1) {
      grid-area: a;
    }
    &:nth-child(2) {
      grid-area: b;
    }
    &:nth-child(3) {
      grid-area: c;
    }
    &:nth-child(4) {
      grid-area: d;
    }
    &:nth-child(5) {
      grid-area: e;
    }
    &:nth-child(6) {
      grid-area: f;
    }
  }
}

.cms-block-moorl-grid-layout-two .moorl-grid-layout {
  grid-template:
            "a" auto
            "c" auto
            "d" auto
            "b" auto / 1fr;
}

@include media-breakpoint-up(md) {
  .cms-block-moorl-grid-layout-one .moorl-grid-layout {
    grid-template:
            "a a a a" auto
            "d d d d" auto
            "b b c c" auto / 1fr 1fr 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-two .moorl-grid-layout {
    grid-template:
            "a b" auto
            "c b" auto
            "d b" auto / 1fr 1fr;
  }
}

@include media-breakpoint-up(lg) {
  .cms-block-moorl-grid-layout-one .moorl-grid-layout {
    grid-template:
            "a a a b b" auto
            "c c d d d" auto / 1fr 1fr 1fr 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-two .moorl-grid-layout {
    grid-template:
            "a a b" auto
            "c d b" auto / 1fr 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-three .moorl-grid-layout {
    grid-template:
            "a c b" auto
            "a d b" auto / 1fr 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-four .moorl-grid-layout {
    grid-template:
            "a b" auto
            "c b" auto
            "c d" auto / 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-five .moorl-grid-layout {
    grid-template:
            "a b" auto
            "c b" auto / 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-six .moorl-grid-layout {
    grid-template:
            "a b c" auto
            "a d d" auto / 1fr 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-seven .moorl-grid-layout {
    grid-template:
            "a a b c" auto
            "a a b c" auto
            "d d d c" auto / 1fr 1fr 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-eight .moorl-grid-layout {
    grid-template:
            "a b b" auto
            "a c e" auto
            "d d e" auto / 1fr 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-nine .moorl-grid-layout {
    grid-template:
            "a b b" auto
            "a d e" auto
            "c d e" auto / 1fr 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-ten .moorl-grid-layout {
    grid-template:
            "a b c" auto
            "a b d" auto
            "e b d" auto / 1fr 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-eleven .moorl-grid-layout {
    grid-template:
            "a b c" auto
            "e b d" auto / 1fr 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-twelve .moorl-grid-layout {
    grid-template:
            "a b b b" auto
            "a c c d" auto
            "e e e d" auto / 1fr 1fr 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-thirteen .moorl-grid-layout {
    grid-template:
            "b b c c" auto
            "d a c c" auto / 1fr 1fr 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-fourteen .moorl-grid-layout {
    grid-template:
            "a b" auto
            "a c" auto / 1fr 1fr;
  }

  .cms-block-moorl-grid-layout-fifteen .moorl-grid-layout {
    grid-template:
            "a b b b" auto
            "a c d e" auto
            "f f d e" auto / 1fr 1fr 1fr 1fr;
  }
}

/* Helper Classes */
.grid-gap-30 .moorl-grid-layout {
  grid-gap: 30px;
}
.grid-gap-25 .moorl-grid-layout {
  grid-gap: 25px;
}
.grid-gap-20 .moorl-grid-layout {
  grid-gap: 20px;
}
.grid-gap-15 .moorl-grid-layout {
  grid-gap: 15px;
}
.grid-gap-10 .moorl-grid-layout {
  grid-gap: 10px;
}
.grid-gap-5 .moorl-grid-layout {
  grid-gap: 5px;
}
.grid-gap-0 .moorl-grid-layout {
  grid-gap: 0px;
}