{% block moorl_layout_card %}
<sw-card
    class="moorl-layout-card"
    position-identifier="moorl-layout"
    :title="$tc('moorl-layout-card.title')"
    :is-loading="isLoading"
>
    <div class="moorl-layout-card__base-layout">

        {% block moorl_detail_layout_preview %}
        <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
        <div
            class="moorl-layout-card__preview"
            @click="openLayoutModal"
        >
            <sw-cms-list-item
                :page="cmsPage"
                active
            />
        </div>
        {% endblock %}

        {% block moorl_detail_layout_modal %}
        <sw-cms-layout-modal
            v-if="showLayoutSelectionModal"
            :cms-page-types="pageTypes"
            :headline="headline"
            :pre-selection="cmsPage"
            @modal-layout-select="onLayoutSelect"
            @modal-close="closeLayoutModal"
        />
        {% endblock %}

        {% block moorl_detail_layout_desc %}
        <div class="moorl-layout-card__desc">

            {% block moorl_detail_layout_desc_info %}
            <div class="moorl-layout-card__desc-info">

                {% block moorl_detail_layout_desc_info_headline %}
                <div
                    class="moorl-layout-card__desc-headline"
                    :class="{ 'is--empty': !cmsPage }"
                >
                    {{ cmsPage ? cmsPage.name : $tc('moorl-layout-card.defaultTitle') }}
                </div>
                {% endblock %}

                {% block moorl_detail_layout_desc_info_subheadline %}
                <div
                    class="moorl-layout-card__desc-subheadline"
                    :class="{ 'is--empty': !cmsPage }"
                >
                    {{ cmsPage ? cmsPageTypes[cmsPage.type] : $tc('moorl-layout-card.defaultDesc') }}
                </div>
                {% endblock %}

            </div>
            {% endblock %}

            {% block moorl_detail_layout_desc_actions %}
            <div class="moorl-layout-card__desc-actions">

                {% block moorl_detail_layout_desc_actions_layout %}
                <mt-button
                    class="moorl-detail-layout__change-layout-action"
                    size="small"
                    @click="openLayoutModal"
                >
                    {{ cmsPage ? $tc('moorl-layout-card.changeLayout') : $tc('moorl-layout-card.changeLayoutEmpty') }}
                </mt-button>
                {% endblock %}

                {% block moorl_detail_layout_desc_actions_designer %}
                <mt-button
                    class="moorl-detail-layout__open-in-pagebuilder"
                    size="small"
                    @click="openInPagebuilder"
                >
                    {{ cmsPage ? $tc('moorl-layout-card.editInPagebuilder'): $tc('moorl-layout-card.editInPagebuilderEmpty') }}
                </mt-button>
                {% endblock %}

                {% block moorl_detail_layout_desc_actions_remove %}
                <mt-button
                    v-if="cmsPage"
                    size="small"
                    class="moorl-detail-layout__layout-reset"
                    square
                    @click="onLayoutReset"
                >
                    <mt-icon
                        name="regular-trash"
                        small
                    />
                </mt-button>
                {% endblock %}

            </div>
            {% endblock %}

            {# @deprecated tag:v6.5.0 - will be removed #}
            {% block moorl_detail_layout_desc_link %}{% endblock %}

        </div>
        {% endblock %}

    </div>
</sw-card>
{% endblock %}
