<div class="moorl-animation-v2">
    <template v-for="type in ['in','out','hover']">
        <sw-switch-field
                :label="$tc(snippetPrefix + 'label.active')"
                bordered
                v-model:value="value[type].active"
        />

        <moorl-select
                :label="$tc(snippetPrefix + 'label.name.' + type)"
                :helpText="$tc(snippetPrefix + 'helpText.name')"
                v-model:value="value[type].name"
                set="animateCss"
        />

        <moorl-select
                :label="$tc(snippetPrefix + 'label.condition')"
                v-model:value="value[type].condition"
                set="domElementState"
        />

        <sw-number-field
                v-model:value="value[type].duration"
                :label="$tc(snippetPrefix + 'label.duration')"
        />

        <sw-number-field
                v-model:value="value[type].delay"
                :label="$tc(snippetPrefix + 'label.delay')"
        />
    </template>
</div>
