<div class="sw-cms-preview-block-appflix-slider-brand-slider">
    <sw-icon name="default-arrow-head-left" size="10"></sw-icon>
    <div>
        <sw-icon name="default-object-image" size="15"></sw-icon>
    </div>
    <div>
        <sw-icon name="default-object-image" size="15"></sw-icon>
    </div>
    <div>
        <sw-icon name="default-object-image" size="15"></sw-icon>
    </div>
    <sw-icon name="default-arrow-head-right" size="10"></sw-icon>
</div>

