<div class="sw-cms-el-config-moorl-map">
    <sw-multi-select
            :label="$tc('sw-cms.elements.moorl-map.label.provider')"
            :options="elementOptions.provider"
            v-model="element.config.provider.value"
    />
</div>
