<div class="sw-cms-preview-block-appflix-column-layout-appflix-search-hero">
    <div>
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <div class="searchbar">
            <div class="icon-container">
                <sw-icon name="default-action-search" size="18"></sw-icon>
            </div>
        </div>
    </div>
</div>
