<div class="sw-cms-el-config-moorl-opening-hours">
    <sw-multi-select
            :label="$tc('sw-cms.elements.moorl-opening-hours.label.provider')"
            :options="elementOptions.provider"
            v-model="element.config.provider.value"
    />
</div>
