<div class="sw-cms-el-config-moorl-cta-banner">
    <moorl-cms-element-config-form
            v-if="!isLoading"
            :item="element.config"
            :componentName="element.type"
            :cmsElementMapping="cmsElementMapping"
            @update="elementUpdate"
    />
</div>
