<div class="sw-cms-el-config-moorl-cta-banner">
    <sw-tabs default-item="general">
        <template #default="{ active }">
            {% block moorl_cta_banner_tabs %}
                <sw-tabs-item name="general" :activeTab="active">
                    {{ $tc('sw-cms.elements.moorl-cta-banner.tab.general') }}
                </sw-tabs-item>

                <sw-tabs-item name="media" :activeTab="active">
                    {{ $tc('sw-cms.elements.moorl-cta-banner.tab.media') }}
                </sw-tabs-item>

                <sw-tabs-item name="content" :activeTab="active">
                    {{ $tc('sw-cms.elements.moorl-cta-banner.tab.content') }}
                </sw-tabs-item>

                <sw-tabs-item name="position" :activeTab="active">
                    {{ $tc('sw-cms.elements.moorl-cta-banner.tab.position') }}
                </sw-tabs-item>

                <sw-tabs-item name="scss" :activeTab="active">
                    {{ $tc('sw-cms.elements.moorl-cta-banner.tab.scss') }}
                </sw-tabs-item>
            {% endblock %}
        </template>

        <template #content="{ active }">
            <sw-container v-if="active === 'general'">
                <sw-container columns="1fr 1fr" gap="0 10px">
                    <moorl-select-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.elementType')"
                            v-model:value="element.config.elementType.value"
                            @update:value="resetElementTypeConfig()"
                            :customSet="['custom','category','cta','product']"
                            snippetPath="sw-cms.elements.moorl-cta-banner.label"
                    />

                    {% block moorl_cta_banner_element_type_options %}{% endblock %}

                    <sw-text-field
                            v-model:value="element.config.height.value"
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.height')"
                    />

                    <sw-colorpicker
                            colorOutput="hex"
                            :zIndex="1000"
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.elementBackground')"
                            v-model:value="element.config.elementBackground.value"
                    />

                    <sw-colorpicker
                            colorOutput="hex"
                            :zIndex="1000"
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.overlayBackground')"
                            v-model:value="element.config.overlayBackground.value"
                    />

                    <sw-switch-field
                            v-model:value="element.config.elementClickable.value"
                            bordered
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.elementClickable')"
                    />
                    {% block moorl_cta_banner_element_type_config %}
                        <template v-if="element.config.elementType.value === 'category'">
                            <sw-entity-single-select
                                    :label="$tc('sw-cms.elements.moorl-cta-banner.label.category')"
                                    v-model:value="element.config.category.value"
                                    labelProperty="name"
                                    entity="category"
                                    @update:value="onChangeCategory"
                                    show-clearable-button
                            />

                            <sw-number-field
                                    v-model:value="element.config.contentLength.value"
                                    :label="$tc('sw-cms.elements.moorl-cta-banner.label.contentLength')"
                            />
                        </template>

                        <template v-else-if="element.config.elementType.value === 'product'">
                            <sw-entity-single-select
                                    :label="$tc('sw-cms.elements.moorl-cta-banner.label.product')"
                                    v-model:value="element.config.product.value"
                                    labelProperty="productNumber"
                                    entity="product"
                                    @update:value="onChangeProduct"
                                    show-clearable-button
                            />

                            <sw-number-field
                                    v-model:value="element.config.contentLength.value"
                                    :label="$tc('sw-cms.elements.moorl-cta-banner.label.contentLength')"
                            />
                        </template>

                        <template v-else>
                            <template v-if="element.config.elementClickable.value">
                                <sw-text-field
                                        v-model:value="element.config.elementUrl.value"
                                        :label="$tc('sw-cms.elements.moorl-cta-banner.label.elementUrl')"
                                />

                                <sw-switch-field
                                        v-model:value="element.config.elementNewTab.value"
                                        bordered
                                        :label="$tc('sw-cms.elements.moorl-cta-banner.label.elementNewTab')"
                                />
                            </template>
                        </template>
                    {% endblock %}
                </sw-container>
            </sw-container>

            <sw-container v-if="active === 'media'">
                <sw-container columns="1fr 1fr" gap="0 10px">
                    <sw-switch-field
                            v-model:value="element.config.mediaActive.value"
                            bordered
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.mediaActive')"
                    />

                    <moorl-select-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.mediaHover')"
                            v-model:value="element.config.mediaHover.value"
                            :customSet="['zoom','rotate','rotate-zoom','colorize','colorize-zoom','colorize-blur','blur','blur-zoom']"
                            snippetPath="sw-cms.elements.moorl-cta-banner.label"
                    />

                    <sw-switch-field
                            v-model:value="element.config.backgroundFixed.value"
                            bordered
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.backgroundFixed')"
                    />

                    <moorl-select-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.backgroundDisplayMode')"
                            v-model:value="element.config.backgroundDisplayMode.value"
                            set="displayMode"
                    />
                </sw-container>

                <sw-container
                        v-if="element.config.backgroundDisplayMode.value == 'custom'"
                        columns="1fr 1fr" gap="0 10px"
                >
                    <sw-text-field
                            v-model:value="element.config.backgroundSizeX.value"
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.backgroundSizeX')"
                    />

                    <sw-text-field
                            v-model:value="element.config.backgroundSizeY.value"
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.backgroundSizeY')"
                    />
                </sw-container>

                <sw-container columns="1fr 1fr" gap="0 10px">
                    <moorl-select-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.backgroundVerticalAlign')"
                            v-model:value="element.config.backgroundVerticalAlign.value"
                            set="textVerticalAlign"
                    />

                    <moorl-select-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.backgroundHorizontalAlign')"
                            v-model:value="element.config.backgroundHorizontalAlign.value"
                            set="textHorizontalAlign"
                    />
                </sw-container>

                <template v-if="element.config.mediaActive.value">
                    <div class="sw-field">
                        <sw-upload-listener
                                :uploadTag="uploadTag + 'media'"
                                autoUpload
                                @media-upload-finish="onImageUpload($event, 'media')"
                        />

                        <sw-media-upload-v2
                                :uploadTag="uploadTag + 'media'"
                                :source="previewSource('media')"
                                :allowMultiSelect="false"
                                :defaultFolder="cmsPageState.pageEntityName"
                                :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                @media-upload-sidebar-open="onOpenMediaModal('media')"
                                @media-upload-remove-image="onImageRemove($event, 'media')"
                        />
                    </div>

                    <sw-container columns="1fr 1fr" gap="0 10px">
                        <sw-switch-field
                                v-model:value="element.config.videoActive.value"
                                bordered
                                :label="$tc('sw-cms.elements.moorl-cta-banner.label.videoActive')"
                        />

                        <template v-if="element.config.videoActive.value">
                            <sw-switch-field
                                    v-model:value="element.config.videoAutoplay.value"
                                    bordered
                                    :label="$tc('sw-cms.elements.moorl-cta-banner.label.videoAutoplay')"
                            />

                            <sw-switch-field
                                    v-model:value="element.config.videoLoop.value"
                                    bordered
                                    :label="$tc('sw-cms.elements.moorl-cta-banner.label.videoLoop')"
                            />
                        </template>
                    </sw-container>
                </template>
            </sw-container>

            <sw-container v-if="active === 'content'">
                <template v-if="element.config.elementType.value === 'custom'">
                    <sw-text-editor
                            v-model:value="element.config.content.value"
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.content')"
                            @input="onInput"
                            @blur="onBlur"
                    />
                </template>

                <template v-else>
                    <sw-container columns="1fr 1fr" gap="0 10px">
                        <moorl-select-field
                                :label="$tc('sw-cms.elements.moorl-cta-banner.label.titleTag')"
                                v-model:value="element.config.titleTag.value"
                                :customSet="['h1','h2','h3','h4','h5','div']"
                        />

                        <sw-text-field
                                v-model:value="element.config.title.value"
                                :label="$tc('sw-cms.elements.moorl-cta-banner.label.title')"
                        />

                        <sw-text-field
                                v-model:value="element.config.quote.value"
                                :label="$tc('sw-cms.elements.moorl-cta-banner.label.quote')"
                        />

                        <sw-switch-field
                                v-model:value="element.config.btnActive.value"
                                bordered
                                :label="$tc('sw-cms.elements.moorl-cta-banner.label.btnActive')"
                        />

                        <template v-if="element.config.btnActive.value">
                            <sw-text-field
                                    v-model:value="element.config.btnText.value"
                                    :label="$tc('sw-cms.elements.moorl-cta-banner.label.btnText')"
                            />

                            <moorl-select-field
                                    :label="$tc('sw-cms.elements.moorl-cta-banner.label.btnClass')"
                                    v-model:value="element.config.btnClass.value"
                                    set="bsButton"
                            />

                            <sw-text-field
                                    v-model:value="element.config.btnUrl.value"
                                    :label="$tc('sw-cms.elements.moorl-cta-banner.label.btnUrl')"
                            />

                            <sw-switch-field
                                    v-model:value="element.config.btnNewTab.value"
                                    bordered
                                    :label="$tc('sw-cms.elements.moorl-cta-banner.label.btnNewTab')"
                            />
                        </template>
                    </sw-container>
                </template>

                <moorl-select-field
                        :label="$tc('sw-cms.elements.moorl-cta-banner.label.iconType')"
                        v-model:value="element.config.iconType.value"
                        set="iconType"
                />

                <template v-if="element.config.iconType.value !== 'none'">
                    <template v-if="element.config.iconType.value === 'fa'">
                        <sw-text-field
                                v-model:value="element.config.iconClass.value"
                                :label="$tc('sw-cms.elements.moorl-cta-banner.label.iconClass')"
                                :helpText="$tc('sw-cms.elements.moorl-cta-banner.helpText.iconClass')"
                                placeholder="fab|shopware (FA5) or default|avatar (Shopware) or fa6s|check (FA6) etc..."
                        />
                    </template>

                    <template v-if="element.config.iconType.value === 'svg'">
                        <sw-code-editor
                                :label="$tc('sw-cms.elements.moorl-cta-banner.label.iconSvg')"
                                :softWraps="false"
                                v-model:value="element.config.iconSvg.value"
                        />
                    </template>

                    <template v-if="element.config.iconType.value === 'media'">
                        <div class="sw-field">
                            <sw-upload-listener
                                    :uploadTag="uploadTag + 'iconMedia'"
                                    autoUpload
                                    @media-upload-finish="onImageUpload($event, 'iconMedia')"
                            />

                            <sw-media-upload-v2
                                    :uploadTag="uploadTag + 'iconMedia'"
                                    :source="previewSource('iconMedia')"
                                    :allowMultiSelect="false"
                                    :defaultFolder="cmsPageState.pageEntityName"
                                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                    @media-upload-sidebar-open="onOpenMediaModal('iconMedia')"
                                    @media-upload-remove-image="onImageRemove($event, 'iconMedia')"
                            />
                        </div>
                    </template>

                    <sw-container columns="1fr 1fr" gap="0 10px">
                        <moorl-select-field
                                :label="$tc('sw-cms.elements.moorl-cta-banner.label.iconPosition')"
                                v-model:value="element.config.iconPosition.value"
                                :customSet="['top','left']"
                        />

                        <sw-text-field
                                v-model:value="element.config.iconFontSize.value"
                                :label="$tc('sw-cms.elements.moorl-cta-banner.label.iconFontSize')"
                        />

                        <sw-text-field
                                v-model:value="element.config.iconMarginRight.value"
                                :label="$tc('sw-cms.elements.moorl-cta-banner.label.iconMarginRight')"
                        />

                        <sw-text-field
                                v-model:value="element.config.iconMarginBottom.value"
                                :label="$tc('sw-cms.elements.moorl-cta-banner.label.iconMarginBottom')"
                        />
                    </sw-container>
                </template>
            </sw-container>

            <sw-container v-if="active === 'position'">
                <sw-container columns="1fr 1fr" gap="0 10px">
                    <moorl-select-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.boxVerticalAlign')"
                            v-model:value="element.config.boxVerticalAlign.value"
                            set="flexVerticalAlign"
                    />

                    <moorl-select-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.boxHorizontalAlign')"
                            v-model:value="element.config.boxHorizontalAlign.value"
                            set="flexHorizontalAlign"
                    />

                    <sw-text-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.boxWidth')"
                            v-model:value="element.config.boxWidth.value"
                    />

                    <sw-text-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.boxHeight')"
                            v-model:value="element.config.boxHeight.value"
                    />

                    <sw-text-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.boxMargin')"
                            v-model:value="element.config.boxMargin.value"
                    />

                    <sw-text-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.boxPadding')"
                            v-model:value="element.config.boxPadding.value"
                    />

                    <moorl-select-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.boxTextAlign')"
                            v-model:value="element.config.boxTextAlign.value"
                            set="textHorizontalAlign"
                    />

                    <sw-colorpicker
                            colorOutput="hex"
                            :zIndex="1000"
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.boxColor')"
                            v-model:value="element.config.boxColor.value"
                    />

                    <sw-colorpicker
                            colorOutput="hex"
                            :zIndex="1000"
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.boxBackground')"
                            v-model:value="element.config.boxBackground.value"
                    />

                    <sw-text-field
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.boxBorderRadius')"
                            v-model:value="element.config.boxBorderRadius.value"
                    />

                    <sw-switch-field
                            v-model:value="element.config.boxMaxWidth.value"
                            bordered
                            :label="$tc('sw-cms.elements.moorl-cta-banner.label.boxMaxWidth')"
                    />
                </sw-container>
            </sw-container>

            <sw-container v-if="active === 'scss'">
                <sw-switch-field
                        v-model:value="element.config.enableScss.value"
                        bordered
                        :label="$tc('sw-cms.elements.moorl-cta-banner.label.enableScss')"
                />

                <sw-code-editor
                        v-model:value="element.config.scss.value"
                        :softWraps="false"
                />
            </sw-container>
        </template>
    </sw-tabs>

    <sw-media-modal-v2
            variant="full"
            v-if="mediaModalIsOpen"
            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
            :entityContext="cmsPageState.entityName"
            :allowMultiSelect="false"
            :initialFolderId="cmsPageState.defaultMediaFolderId"
            @media-modal-selection-change="onSelectionChanges"
            @modal-close="onCloseModal"
    />
</div>
