<div class="sw-cms-el-config-moorl-cta-banner">
    <moorl-cms-element-config-form
        v-if="!isLoading"
        :item="element.config"
        :componentName="element.type"
        :entity="currentEntity.name"
        :cmsElementMapping="cmsElementMapping"
    />
</div>