<sw-modal v-if="showExportModal"
          :title="$t('moorl-foundation.export.title')"
          @modal-close="onCancel"
          variant="default"
          class="moorl-csv-export">
    <sw-container class="moorl-csv-export__top-bar" columns="1fr" gap="10px">
        <template v-if="step == 1">
            <sw-field type="switch" bordered :label="$tc('moorl-foundation.export.pauseLabel')" v-model="options.pause"></sw-field>

            <p class="info">{{ $t('moorl-foundation.export.loadedText', { count: rowCount }) }}</p>
        </template>

        <template v-if="step == 2">
            <sw-progress-bar :value="rowsDone" :maxValue="rowCount"/>

            <p class="info">{{ $t('moorl-foundation.export.completedMessage', { skipped: rowsSkipped, new: rowsNew, total: rowsDone, errors: errorCount }) }}</p>
        </template>
    </sw-container>

    <template #modal-footer>
        <sw-button @click="onCancel" size="small">
            {{ $tc('moorl-foundation.buttons.cancelButtonText') }}
        </sw-button>

        <sw-button v-if="step == 1"
                   @click="onClickExport"
                   variant="primary"
                   size="small">
            {{ $tc('moorl-foundation.buttons.startExportButtonText') }}
        </sw-button>
    </template>
</sw-modal>