<sw-modal v-if="showExportModal"
          :title="$tc('moorl-foundation.export.title')"
          @modal-close="onCancel"
          variant="default"
          class="moorl-csv-export">
    <sw-container class="moorl-csv-export__top-bar" columns="1fr" gap="10px">
        <template v-if="step == 1">
            <sw-field type="switch" bordered :label="$tc('moorl-foundation.export.localTable')" v-model="options.localTable"></sw-field>

            <p class="info">{{ $t('moorl-foundation.export.introText') }}</p>
        </template>

        <template v-if="step == 2 && items.length > 0">
            <sw-progress-bar :value="items.length" :maxValue="total"/>

            <p class="info">{{ $tc('moorl-foundation.export.proccess') }}</p>
        </template>

        <template v-if="step == 3">
            <p class="info">{{ $tc('moorl-foundation.export.completedMessage') }}</p>
        </template>
    </sw-container>

    <template #modal-footer>
        <sw-button @click="onCancel" size="small">
            {{ $tc('moorl-foundation.buttons.cancelButtonText') }}
        </sw-button>

        <sw-button v-if="step == 1"
                   @click="onClickExport"
                   variant="primary"
                   size="small">
            {{ $tc('moorl-foundation.buttons.startExportButtonText') }}
        </sw-button>
    </template>
</sw-modal>