{% set options = {
    enablePrices: true,
    enableAddToCartAll: true,
    enableAddToCartSingle: true,
    enableSelection: true,
    currencyIso: context.currency.isoCode,
    discountValue: 0,
    addToCartSingleIcon: 'bag',
    addToCartAllIcon: 'bag'
}|merge(options) %}

{% if items.count > 0 %}
    <div
            class="moorl-parts-list"
            data-moorl-parts-list
            data-moorl-parts-list-options='{{ options|json_encode|raw }}'
    >
        <ul class="moorl-parts-list-items">
            <li class="moorl-parts-list-item">
                <div></div>
                <div>QTY</div>
                <div>Product</div>
                <div class="text-end">Unit Price</div>
            </li>
            {% for item in items %}
                {% sw_include '@MoorlFoundation/plugin/moorl-foundation/component/parts-list/product-item.html.twig' %}
            {% endfor %}
        </ul>
    </div>
{% elseif options.emptyText and config('MoorlFoundation.config.cmsEmptyAlert') %}
    {% sw_include "@Storefront/storefront/utilities/alert.html.twig" with {
        type: "primary",
        content: options.emptyText ?: "moorl-foundation.search.notAvailable"|trans
    } %}
{% endif %}
