.cms-element-moorl-accordion {
    .moorl-accordion-content{
        .section{
            margin-bottom: 15px;

            &:last-child{
                margin-bottom: 0;
            }

            a.section-heading{
                margin-bottom: 0;
                display: block;
                padding: 10px 45px 10px 10px;
                border-radius: $border-radius;
                transition: ease all .1s;
                position: relative;
                border:1px solid $sw-border-color;

                .moorl-accordion-icon{
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);

                    .icon{
                        width: 15px;
                        height: 15px;
                        transition: ease all .3s;
                    }

                    svg{
                        color: $sw-text-color;
                        top:0;
                    }
                }

                &:hover, &[aria-expanded=true]{
                    background-color: $sw-color-brand-primary;
                    color:color-yiq($sw-color-brand-primary);
                    text-decoration: none;
                    border:1px solid $sw-color-brand-primary;

                    .moorl-accordion-icon{

                        svg{
                            color:color-yiq($sw-color-brand-primary);
                        }
                    }
                }

                &[aria-expanded=true]{
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;

                    .moorl-accordion-icon{
                        .icon{
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .section-content{
                padding: 10px;
                border:1px solid $sw-border-color;
                border-bottom-right-radius: $border-radius;
                border-bottom-left-radius: $border-radius;

                a{
                    color:$sw-color-brand-primary;
                }

                p:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}
