.cms-element-moorl-search-hero {
  display: flex;
  align-items: center;

  .moorl-hero-inner-container {
    @include media-breakpoint-up(xl) {
      max-width: 45%;
    }

    .moorl-hero-caption {
      margin-bottom: 25px;

      .moorl-hero-headline, .moorl-hero-text {
        color: #fff;
        font-weight: 400;
      }

      .moorl-hero-headline {
        font-size: 2.5em;
      }

      .moorl-hero-text {
        font-size: 1.5em;
      }
    }

    .moorl-hero-search {
      max-width: 100%;

      .header-search-input {
        border: none;
        padding: 0 15px;
        height: 50px;
        font-size: 1.2em;
      }

      .btn {
        background-color: $sw-color-brand-primary;
        border-color: $sw-color-brand-primary;
        color: color-contrast($sw-color-brand-primary);
        padding: 0 15px;

        &:hover {
          background-color: darken($sw-color-brand-primary, 5%);
          border-color: darken($sw-color-brand-primary, 5%);

          .icon {
            color: color-contrast($sw-color-brand-primary);
          }
        }
      }

      .search-suggest-container {
        width: 100%;
        border: none;
        box-shadow: $moorl-general-box-shadow;
      }
    }
  }
}
