<div class="sw-cms-preview-block-moorl-interactive-slider">
    <sw-icon name="default-arrow-head-left" size="10"></sw-icon>
    <div>&infin;</div>
    <sw-icon name="default-arrow-head-right" size="10"></sw-icon>
</div>
