<div class="sw-cms-preview-block-moorl-interactive-slider">
    <sw-icon name="regular-chevron-left-s" size="10"></sw-icon>
    <div>&infin;</div>
    <sw-icon name="regular-chevron-right-s" size="10"></sw-icon>
</div>
