<sw-page class="moorl-marker-detail">
    <template slot="smart-bar-actions">
        <sw-button :routerLink="{ name: 'moorl.marker.list' }">
            {{ $tc('moorl-foundation.buttons.cancelButtonText') }}
        </sw-button>

        <sw-button-process
                :isLoading="isLoading"
                :processSuccess="processSuccess"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
            {{ $tc('moorl-foundation.buttons.saveButtonText') }}
        </sw-button-process>
    </template>

    <template slot="content">
        <sw-card-view>
            <sw-card v-if="item" :isLoading="isLoading" :title="$tc('moorl-marker.card.general')">
                <sw-field
                        :label="$tc('moorl-marker.properties.name')"
                        v-model="item.name"
                        required
                        validation="required"
                />

                <sw-field
                        :label="$tc('moorl-marker.properties.type')"
                        v-model="item.type"
                />

                <sw-field
                        :label="$tc('moorl-marker.properties.cssClass')"
                        v-model="item.className"
                />

                <sw-field
                        type="textarea"
                        :label="$tc('moorl-marker.properties.svg')"
                        :helpText="$tc('moorl-marker.helpText.svg')"
                        v-model="item.svg"
                />
            </sw-card>

            <sw-card v-if="item" :isLoading="isLoading" :title="$tc('moorl-foundation.label.markerCard')">
                <div class="sw-field">
                    <sw-upload-listener
                            :uploadTag="uploadTagMarker"
                            autoUpload
                            @media-upload-finish="setMarkerItem"
                    />

                    <sw-media-upload-v2
                            :uploadTag="uploadTagMarker"
                            :source="item.markerId"
                            :allowMultiSelect="false"
                            :label="$tc('moorl-marker.properties.marker')"
                            variant="regular"
                            @sw-media-upload-media-upload-success="setMarkerItem"
                            @media-drop="onDropMarker"
                            @media-upload-remove-image="onUnlinkMarker"
                    />
                </div>

                <div class="sw-field">
                    <sw-upload-listener
                            :uploadTag="uploadTagMarkerRetina"
                            autoUpload
                            @media-upload-finish="setMarkerRetinaItem"
                    />

                    <sw-media-upload-v2
                            :uploadTag="uploadTagMarkerRetina"
                            :source="item.markerRetinaId"
                            :allowMultiSelect="false"
                            :label="$tc('moorl-marker.properties.markerRetina')"
                            variant="regular"
                            @sw-media-upload-media-upload-success="setMarkerRetinaItem"
                            @media-drop="onDropMarkerRetina"
                            @media-upload-remove-image="onUnlinkMarkerRetina"
                    />
                </div>

                <div class="sw-field">
                    <sw-upload-listener
                            :uploadTag="uploadTagMarkerShadow"
                            autoUpload
                            @media-upload-finish="setMarkerShadowItem"
                    />

                    <sw-media-upload-v2
                            :uploadTag="uploadTagMarkerShadow"
                            :source="item.markerShadowId"
                            :allowMultiSelect="false"
                            :label="$tc('moorl-marker.properties.markerShadow')"
                            variant="regular"
                            @sw-media-upload-media-upload-success="setMarkerShadowItem"
                            @media-drop="onDropMarkerShadow"
                            @media-upload-remove-image="onUnlinkMarkerShadow"
                    />
                </div>
            </sw-card>

            <sw-card v-if="item" :isLoading="isLoading" :title="$tc('moorl-foundation.properties.markerSettings')">
                <div class="sw-field">
                    <label>
                        {{ $tc('moorl-marker.helpText.markerSettings') }}<br>
                        <a href="https://leafletjs.com/examples/custom-icons/" target="_blank" rel="noopener">
                            https://leafletjs.com/examples/custom-icons/
                        </a>
                    </label>
                </div>

                <sw-container columns="1fr 1fr" gap="0 20px">
                    <sw-field type="number" label="iconSizeX" v-model="item.markerSettings.iconSizeX"/>
                    <sw-field type="number" label="iconSizeY" v-model="item.markerSettings.iconSizeY"/>
                    <sw-field type="number" label="shadowSizeX" v-model="item.markerSettings.shadowSizeX"/>
                    <sw-field type="number" label="shadowSizeY" v-model="item.markerSettings.shadowSizeY"/>
                    <sw-field type="number" label="iconAnchorX" v-model="item.markerSettings.iconAnchorX"/>
                    <sw-field type="number" label="iconAnchorY" v-model="item.markerSettings.iconAnchorY"/>
                    <sw-field type="number" label="shadowAnchorX" v-model="item.markerSettings.shadowAnchorX"/>
                    <sw-field type="number" label="shadowAnchorY" v-model="item.markerSettings.shadowAnchorY"/>
                    <sw-field type="number" label="popupAnchorX" v-model="item.markerSettings.popupAnchorX"/>
                    <sw-field type="number" label="popupAnchorY" v-model="item.markerSettings.popupAnchorY"/>
                </sw-container>
            </sw-card>

            <sw-card v-if="item" :isLoading="isLoading" :title="$tc('moorl-marker.card.preview')">
                <moorl-location :locations="locations" :options="['dragging']"/>
            </sw-card>
        </sw-card-view>
    </template>

    <template slot="sidebar">
        <sw-sidebar :propagateWidth="true">
            <sw-sidebar-media-item ref="mediaSidebarItem">
                <template slot="context-menu-items" slot-scope="media">
                    <sw-context-menu-item
                            @click="setMediaFromSidebar(media.mediaItem)"
                    />
                </template>
            </sw-sidebar-media-item>
        </sw-sidebar>
    </template>
</sw-page>
