<div class="sw-cms-el-moorl-cta-banner" :style="elementCss">
    <video
            v-if="element.config.mediaActive.value && element.config.videoActive.value"
            autoplay
            muted
            loop
            class="video"
    >
        <source :src="mediaUrl" type="video/mp4">
    </video>

    <div
            v-else-if="element.config.mediaActive.value || element.config.elementType.value === 'category' || element.config.elementType.value === 'product'"
            class="background"
            :class="element.config.mediaHover.value"
            :style="backgroundCss"
    ></div>

    <div class="banner-layer" :style="overlayCss">
        <div class="container" :class="boxClass" :style="boxCss">
            <div v-if="element.config.iconType.value !== 'none'" class="container-icon" :style="iconCss">
                <template v-if="element.config.iconType.value === 'fa'">
                    <mt-icon name="regular-checkmark"/>
                </template>

                <template v-if="element.config.iconType.value === 'svg'">
                    <span v-html="element.config.iconSvg.value"></span>
                </template>

                <template v-if="element.config.iconType.value === 'media'">
                    <img :src="iconMediaUrl">
                </template>
            </div>

            <div v-if="element.config.elementType.value == 'custom'" class="container-content"
                 v-html="$sanitize(element.config.content.value)">
            </div>

            <div v-else class="container-content">
                <div v-html="bannerTitle"></div>

                <p v-html="bannerDescription"></p>

                <a v-if="element.config.btnActive.value" class="mt-button mt-button--primary" href="#">{{ element.config.btnText.value }}</a>
            </div>
        </div>
    </div>
</div>
