<div class="moorl-layout-card-v2">
    <sw-card :title="$tc('moorl-layout-card.title')" :is-loading="isLoading">
        <div class="moorl-layout-card__base-layout">
            <div v-if="cmsPage" class="moorl-layout-card__preview" @click="openLayoutModal">
                <sw-cms-list-item :page="cmsPage" active/>
            </div>

            <sw-cms-layout-modal
                    v-if="showLayoutSelectionModal"
                    :cms-page-types="pageTypes"
                    :headline="headline"
                    :pre-selection="cmsPage"
                    @modal-layout-select="onLayoutSelect"
                    @modal-close="closeLayoutModal"
            />

            <div class="moorl-layout-card__desc">
                <div class="moorl-layout-card__desc-info">
                    <div class="moorl-layout-card__desc-headline" :class="{ 'is--empty': !cmsPage }">
                        {{ cmsPage ? cmsPage.name : $tc('moorl-layout-card.defaultTitle') }}
                    </div>
                </div>

                <div class="moorl-layout-card__desc-actions">
                    <sw-button class="moorl-detail-layout__change-layout-action" size="small" @click="openLayoutModal">
                        {{ cmsPage ? $tc('moorl-layout-card.changeLayout') : $tc('moorl-layout-card.changeLayoutEmpty') }}
                    </sw-button>

                    <sw-button class="moorl-detail-layout__open-in-pagebuilder" size="small" @click="openInPagebuilder">
                        {{ cmsPage ? $tc('moorl-layout-card.editInPagebuilder'): $tc('moorl-layout-card.editInPagebuilderEmpty') }}
                    </sw-button>

                    <sw-button
                            v-if="cmsPage"
                            size="small"
                            class="moorl-detail-layout__layout-reset"
                            square
                            @click="onLayoutReset"
                    >
                        <sw-icon name="regular-trash" small/>
                    </sw-button>
                </div>

                <sw-button
                        class="moorl-detail-layout__save-cms-config"
                        size="small"
                        variant="primary"
                        @click="saveCmsConfig"
                >
                    {{ $tc('moorl-layout-card.saveCmsConfig') }}
                </sw-button>
            </div>
        </div>
    </sw-card>

    <sw-cms-page-form v-if="cmsPage" :page="cmsPage"/>
</div>
