<div class="sw-cms-el-config-moorl-newsletter">
    <sw-tabs class="sw-cms-el-config-moorl-newsletter__tabs" default-item="general">
        <template #default="{ active }" >
            <sw-tabs-item :title="$tc(snippetPrefix + 'tab.general')"
                          name="general"
                          :activeTab="active">
                {{ $tc(snippetPrefix + 'tab.general') }}
            </sw-tabs-item>
            <sw-tabs-item :title="$tc(snippetPrefix + 'tab.colors')"
                          name="colors"
                          :activeTab="active">
                {{ $tc(snippetPrefix + 'tab.colors') }}
            </sw-tabs-item>

            <sw-tabs-item :title="$tc(snippetPrefix + 'tab.text')"
                          name="text"
                          :activeTab="active">
                {{ $tc(snippetPrefix + 'tab.text') }}
            </sw-tabs-item>
        </template>

        <template #content="{ active }">
            <sw-container v-if="active === 'general'" class="sw-cms-el-config-moorl-newsletter__tab-general">
                <sw-switch-field
                        bordered
                        :label="$tc(snippetPrefix + 'config.optin')"
                        v-model:value="element.config.optin.value"
                />
            </sw-container>

            <sw-container v-if="active === 'colors'" class="sw-cms-el-config-moorl-newsletter__tab-colors">
                <sw-colorpicker
                    colorOutput="hex"
                    :zIndex="1000"
                    :label="$tc(snippetPrefix + 'config.buttonBackground')"
                    v-model:value="element.config.buttonBackground.value"
                />
                <sw-colorpicker
                    colorOutput="hex"
                    :zIndex="1000"
                    :label="$tc(snippetPrefix + 'config.buttonTextColor')"
                    v-model:value="element.config.buttonTextColor.value"
                />
                <sw-colorpicker
                    colorOutput="hex"
                    :zIndex="1000"
                    :label="$tc(snippetPrefix + 'config.privacyColor')"
                    v-model:value="element.config.privacyColor.value"
                />
            </sw-container>

            <sw-container v-if="active === 'text'" class="sw-cms-el-config-moorl-newsletter__tab-text">
                <sw-alert variant="info">
                    {{ $tc(snippetPrefix + 'config.hint') }}
                </sw-alert>

                <sw-text-field
                        v-model:value="element.config.placeholder.value"
                        :label="$tc(snippetPrefix + 'config.placeholder')"
                />
                <sw-text-field
                        v-model:value="element.config.buttonText.value"
                        :label="$tc(snippetPrefix + 'config.buttonText')"
                />
            </sw-container>
        </template>

    </sw-tabs>
</div>
