<div class="sw-cms-el-config-moorl-newsletter">
    <sw-tabs
        class="sw-cms-el-config-moorl-newsletter__tabs"
        default-item="general"
    >
        <template #default="{ active }">
            <sw-tabs-item
                name="general"
                :activeTab="active"
            >
                {{ $tc('sw-cms.elements.moorl-newsletter.tab.general') }}
            </sw-tabs-item>

            <sw-tabs-item
                name="colors"
                :activeTab="active"
            >
                {{ $tc('sw-cms.elements.moorl-newsletter.tab.colors') }}
            </sw-tabs-item>

            <sw-tabs-item
                name="text"
                :activeTab="active"
            >
                {{ $tc('sw-cms.elements.moorl-newsletter.tab.text') }}
            </sw-tabs-item>
        </template>

        <template #content="{ active }">
            <sw-container
                v-if="active === 'general'"
                class="sw-cms-el-config-moorl-newsletter__tab-general"
            >
                <sw-cms-inherit-wrapper
                        field="optin"
                        :element="element"
                        :label="$tc('sw-cms.elements.moorl-newsletter.config.optin')"
                >
                    <template #default="{ isInherited }">
                        <mt-switch
                                bordered
                                :label="$tc('sw-cms.elements.moorl-newsletter.config.optin')"
                                v-model="element.config.optin.value"
                                :disabled="isInherited"
                        />
                    </template>
                </sw-cms-inherit-wrapper>
            </sw-container>

            <sw-container
                v-if="active === 'colors'"
                class="sw-cms-el-config-moorl-newsletter__tab-colors"
            >
                <sw-cms-inherit-wrapper
                        field="buttonBackground"
                        :element="element"
                        :label="$tc('sw-cms.elements.moorl-newsletter.config.buttonBackground')"
                >
                    <template #default="{ isInherited }">
                        <mt-colorpicker
                                colorOutput="hex"
                                :zIndex="1000"
                                :label="$tc('sw-cms.elements.moorl-newsletter.config.buttonBackground')"
                                v-model="element.config.buttonBackground.value"
                                :disabled="isInherited"
                        />
                    </template>
                </sw-cms-inherit-wrapper>

                <sw-cms-inherit-wrapper
                        field="buttonTextColor"
                        :element="element"
                        :label="$tc('sw-cms.elements.moorl-newsletter.config.buttonTextColor')"
                >
                    <template #default="{ isInherited }">
                        <mt-colorpicker
                                colorOutput="hex"
                                :zIndex="1000"
                                :label="$tc('sw-cms.elements.moorl-newsletter.config.buttonTextColor')"
                                v-model="element.config.buttonTextColor.value"
                                :disabled="isInherited"
                        />
                    </template>
                </sw-cms-inherit-wrapper>

                <sw-cms-inherit-wrapper
                        field="privacyColor"
                        :element="element"
                        :label="$tc('sw-cms.elements.moorl-newsletter.config.privacyColor')"
                >
                    <template #default="{ isInherited }">
                        <mt-colorpicker
                                colorOutput="hex"
                                :zIndex="1000"
                                :label="$tc('sw-cms.elements.moorl-newsletter.config.privacyColor')"
                                v-model="element.config.privacyColor.value"
                                :disabled="isInherited"
                        />
                    </template>
                </sw-cms-inherit-wrapper>

            </sw-container>

            <sw-container
                v-if="active === 'text'"
                class="sw-cms-el-config-moorl-newsletter__tab-text"
            >
                <mt-banner variant="info">
                    {{ $tc('sw-cms.elements.moorl-newsletter.config.hint') }}
                </mt-banner>

                <sw-cms-inherit-wrapper
                        field="placeholder"
                        :element="element"
                        :label="$tc('sw-cms.elements.moorl-newsletter.config.placeholder')"
                >
                    <template #default="{ isInherited }">
                        <mt-text-field
                                v-model="element.config.placeholder.value"
                                :label="$tc('sw-cms.elements.moorl-newsletter.config.placeholder')"
                                :disabled="isInherited"
                        />
                    </template>
                </sw-cms-inherit-wrapper>

                <sw-cms-inherit-wrapper
                        field="buttonText"
                        :element="element"
                        :label="$tc('sw-cms.elements.moorl-newsletter.config.buttonText')"
                >
                    <template #default="{ isInherited }">
                        <mt-text-field
                                v-model="element.config.buttonText.value"
                                :label="$tc('sw-cms.elements.moorl-newsletter.config.buttonText')"
                                :disabled="isInherited"
                        />
                    </template>
                </sw-cms-inherit-wrapper>
            </sw-container>
        </template>
    </sw-tabs>
</div>
