@import "~scss/variables";

.sw-cms-el-moorl-default {
    width: 100%;
    height: 100%;
    color: $color-gray-600;
    min-height: 140px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-gray-100;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 15px;

    .sw-button,
    .small {
        text-align: center;
        margin-top: 10px;
        letter-spacing: normal;
        font-size: 14px;
        text-transform: none;
    }
}
