<sw-tabs class="sw-cms-el-config-search-hero__tabs" defaultItem="general">
    <template slot-scope="{ active }" >
        <sw-tabs-item :title="$tc(snippetPrefix + 'tab.general')"
                      name="general"
                      :activeTab="active">
            {{ $tc(snippetPrefix + 'tab.general') }}
        </sw-tabs-item>
        <sw-tabs-item :title="$tc(snippetPrefix + 'tab.textColor')"
                      name="textColor"
                      :activeTab="active">
            {{ $tc(snippetPrefix + 'tab.textColor') }}
        </sw-tabs-item>
    </template>

    <template #content slot-scope="{ active }">
        <sw-container v-if="active === 'general'" class="sw-cms-el-config-moorl-usp__tab-general">
            <sw-switch-field
                    v-model:value="element.config.iconActive.value"
                    bordered
                    :label="$tc(snippetPrefix + 'config.iconActive')"
            />

            <template v-if="element.config.iconActive.value">
                <sw-text-field
                        v-model:value="element.config.iconClass.value"
                        placeholder="fab|shopware"
                        :helpText="$tc(snippetPrefix + 'config.iconClassHelpText')"
                        :label="$tc(snippetPrefix + 'config.iconClass')"
                />
            </template>

            <sw-text-field
                    v-model:value="element.config.title.value"
                    :label="$tc(snippetPrefix + 'config.headline')"
            />

            <sw-text-field
                    v-model:value="element.config.text.value"
                    :label="$tc(snippetPrefix + 'config.subHeadline')"
            />

            <sw-select-field :label="$tc(snippetPrefix + 'config.alignment')"
                             v-model:value="element.config.alignment.value">
                <option value="left">{{ $tc(snippetPrefix + 'config.left') }}</option>
                <option value="center">{{ $tc(snippetPrefix + 'config.center') }}</option>
            </sw-select-field>
        </sw-container>

        <sw-container v-if="active === 'textColor'" class="sw-cms-el-config-moorl-usp__tab-colors">
            <sw-colorpicker
                colorOutput="hex"
                :zIndex="1000"
                :label="$tc(snippetPrefix + 'config.iconColor')"
                v-model:value="element.config.iconColor.value"
            />
            <sw-colorpicker
                colorOutput="hex"
                :zIndex="1000"
                :label="$tc(snippetPrefix + 'config.headlineColor')"
                v-model:value="element.config.headlineColor.value"
            />
            <sw-colorpicker
                colorOutput="hex"
                :zIndex="1000"
                :label="$tc(snippetPrefix + 'config.subHeadlineColor')"
                v-model:value="element.config.subHeadlineColor.value"
            />
        </sw-container>
    </template>
</sw-tabs>
