<div class="moorl-abstract-cms-base-config">
    <moorl-form
        v-if="!isLoading"
        :cmsElement="element"
        :item="element.config"
        :componentName="element.type"
        :mapping="cmsElementMapping"
        :hideDisabledFields="true"
        pathAppend="value"
    />
</div>
