<div class="moorl-listing-config">
    <moorl-cms-element-config-form
            v-if="!isLoading"
            :item="value"
            componentName="moorl-listing-config"
            :cmsElementMapping="cmsElementMapping"
    />
</div>
