{% block sw_cms_sidebar_block_overview_category_options %}
    {% block sw_cms_sidebar_block_overview_category_moorl %}
        {% block sw_cms_sidebar_block_overview_category_moorl_column_layout %}
            <option value="moorl-column-layout">
                {{ $tc('sw-cms.component.sw-cms-sidebar.blockMoorlColumnLayout') }}
            </option>
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_grid_layout %}
            <option v-if="moorlIsUnlocked" value="moorl-grid-layout">
                {{ $tc('sw-cms.component.sw-cms-sidebar.blockMoorlGridLayout') }}
            </option>
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_slider %}
            <option v-if="moorlIsUnlocked" value="moorl-slider">
                {{ $tc('sw-cms.component.sw-cms-sidebar.blockMoorlSlider') }}
            </option>
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_cms %}{% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_cms_old %}{% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_autofill_layout %}{% endblock %}
    {% endblock %}

    {% parent %}
{% endblock %}

{% block sw_cms_sidebar_block_overview_preview %}
    <template v-if="['moorl-column-layout','moorl-grid-layout','moorl-slider','moorl-cms','moorl-cms-old'].includes(currentBlockCategory)">
        <div class="sw-cms-sidebar__block-category">
            <p>
                {{ $tc('sw-cms.component.sw-cms-sidebar.blockMoorlInfo') }}
            </p>

            <moorl-support-link
                    path="/"
                    snippet="sw-cms.component.sw-cms-sidebar.blockMoorlFAQ"
            />

            <moorl-support-link
                    v-if="!moorlIsUnlocked"
                    path="/MoorlFoundation/features-premium/"
                    snippet="sw-cms.component.sw-cms-sidebar.blockMoorlFeatures"
            />
        </div>
    </template>

    {% parent %}
{% endblock %}

{% block sw_cms_sidebar_navigator_main_elements %}
    <template v-if="isSectionGrid(section) && isSectionGridInitialized(section)">
        <template v-for="gridCol in sectionColumnCount(section)">
            <div class="sw-cms-sidebar__navigator-section-spacer"></div>

            <template v-if="getSectionGridContentBlocks(section.blocks, gridCol).length > 0">
                <template
                        v-for="block in getSectionGridContentBlocks(section.blocks, gridCol)"
                        :key="block.id"
                >
                    <sw-cms-sidebar-nav-element
                            v-draggable="getSectionGridDragData(block, sectionIndex, gridCol)"
                            v-droppable="getSectionGridDropData(block, sectionIndex, gridCol)"
                            :block="block"
                            class="sw-cms-sidebar__navigator-block"
                            :removable="blockIsRemovable(block)"
                            :class="{ 'is--dragging': block.isDragging }"
                            @block-delete="onBlockDelete($event, section)"
                            @block-duplicate="onBlockDuplicate($event, section)"
                    />
                </template>
            </template>

            <template v-else>
                <div :key="section.id + '_column_' + gridCol"
                     v-droppable="getSectionGridDropData({ position: 0 }, sectionIndex, gridCol)"
                     class="sw-cms-sidebar__navigator-empty-element">
                    {{ $tc('sw-cms.detail.label.addBlocks') }}
                </div>
            </template>
        </template>
    </template>

    <template v-else>
        {% parent %}
    </template>
{% endblock %}
