{% block sw_cms_sidebar_block_overview_category_options %}
    {% block sw_cms_sidebar_block_overview_category_moorl %}
        {% block sw_cms_sidebar_block_overview_category_moorl_column_layout %}
            <option value="moorl-column-layout">{{ $tc('sw-cms.component.sw-cms-sidebar.blockMoorlColumnLayout') }}</option>
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_grid_layout %}
            <option value="moorl-grid-layout">{{ $tc('sw-cms.component.sw-cms-sidebar.blockMoorlGridLayout') }}</option>
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_slider %}
            <option value="moorl-slider">{{ $tc('sw-cms.component.sw-cms-sidebar.blockMoorlSlider') }}</option>
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_cms %}
            <option value="moorl-cms">{{ $tc('sw-cms.component.sw-cms-sidebar.blockMoorlCms') }}</option>
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_cms_old %}
            <option value="moorl-cms-old">{{ $tc('sw-cms.component.sw-cms-sidebar.blockMoorlCmsOld') }}</option>
        {% endblock %}
        {% block sw_cms_sidebar_block_overview_category_moorl_autofill_layout %}
        {% endblock %}
    {% endblock %}

    {% parent %}
{% endblock %}

{% block sw_cms_sidebar_navigator_main_elements %}
    <template v-if="isSectionGrid(section) && isSectionGridInitialized(section)">
        <template v-for="gridCol in sectionColumnCount(section)">
            <div class="sw-cms-sidebar__navigator-section-spacer"></div>

            <template v-if="getSectionGridContentBlocks(section.blocks, gridCol).length > 0">
                <template v-for="block in getSectionGridContentBlocks(section.blocks, gridCol)">
                    <sw-cms-sidebar-nav-element
                            :key="block.id"
                            v-draggable="getSectionGridDragData(block, sectionIndex, gridCol)"
                            v-droppable="getSectionGridDropData(block, sectionIndex, gridCol)"
                            :block="block"
                            class="sw-cms-sidebar__navigator-block"
                            :removable="blockIsRemovable(block)"
                            :class="{ 'is--dragging': block.isDragging }"
                            @block-delete="onBlockDelete($event, section)"
                            @block-duplicate="onBlockDuplicate($event, section)"
                    />
                </template>
            </template>

            <template v-else>
                <div :key="section.id + '_column_' + gridCol"
                     v-droppable="getSectionGridDropData({ position: 0 }, sectionIndex, gridCol)"
                     class="sw-cms-sidebar__navigator-empty-element">
                    {{ $tc('sw-cms.detail.label.addBlocks') }}
                </div>
            </template>
        </template>
    </template>

    <template v-else>
        {% parent %}
    </template>
{% endblock %}
