.sw-cms-el-preview-moorl-html-tag {
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    p {
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        font-size: 40px;
    }
}
