{% set options = {
    inputElId: elementId,
    type: type
} %}

{% if type == 'progress-bar' %}
    <div class="moorl-char-counter progress"
         data-moorl-char-counter
         data-moorl-char-counter-options='{{ options|json_encode|raw }}'>
        <div class="progress-bar" role="progressbar" aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100" style="width:0">
            <span class="sr-only"></span>
        </div>
    </div>
{% else %}
    <span class="moorl-char-counter {{ class }}"
          data-moorl-char-counter
          data-moorl-char-counter-options='{{ options|json_encode|raw }}'></span>
{% endif %}
