<div class="col">
    <div class="base-slider image-slider"
         data-base-slider="true"
         data-base-slider-options='{
                        "slider": {
                            "navPosition": "bottom",
                            "speed": 1000,
                            "nav": true,
                            "controls": true,
                            "autoHeight": false,
                            "autoplay": true,
                            "autoplayButtonOutput": false
                        }
                    }'>
        <div class="image-slider-container"
             data-base-slider-container="true">
            {% for letter in 'a'..'z' %}
                {% set element = block.slots.getSlot("slot-#{letter}") %}

                {% if element %}
                    <div class="image-slider-item">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="image-slider-controls-container">
            <div class="base-slider-controls"
                 data-base-slider-controls="true">
                <button
                        class="base-slider-controls-prev image-slider-controls-prev is-nav-prev-inside"
                        aria-label="{{ 'general.previous'|trans|striptags }}"
                >
                    {% sw_icon 'arrow-head-left' %}
                </button>

                <button
                        class="base-slider-controls-next image-slider-controls-next is-nav-next-inside"
                        aria-label="{{ 'general.next'|trans|striptags }}"
                >
                    {% sw_icon 'arrow-head-right' %}
                </button>
            </div>
        </div>
    </div>
</div>
