<div class="col">
    <div class="moorl-grid-layout">
        {% for letter in 'a'..'z' %}
            {% set element = block.slots.getSlot("slot-#{letter}") %}

            {% if element %}
                {% set moorlAnimation = element.config.moorlAnimation.value %}

                {% if moorlAnimation %}
                    {% if moorlAnimation.in.active or moorlAnimation.out.active or moorlAnimation.hover.active %}
                        <div data-moorl-animation='{{ moorlAnimation|json_encode|raw }}'>
                            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                        </div>
                    {% else %}
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    {% endif %}
                {% else %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>