{% set element = block.slots.getSlot('slot-1') %}
{% set columns = 1 %}

<div class="col" data-cms-element-id="{{ element.id }}">
    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
</div>
