$light: #f9f9f9 !default;
$sw-border-color: #bcc1c7 !default;
$border-radius: 10px;
$sw-background-color: #FFFFFF;
$sw-headline-color: #4a545b !default;

.sw-cms-el-moorl-download-list {
  width: 100%;
  min-height: 200px;

  /* Fixes */
  .text-right {
    text-align: right;
  }

  .btn {
    display: flex;
    align-items: center;
    border: 0;
    justify-content: center;
  }

  .mb-2 {
    margin-bottom: 10px;
  }

  /* Same as Storefront CSS */
  .moorl-download-list-items {
    list-style: none;
    margin: 0;
    padding: 0;

    .moorl-download-list-item {
      display: grid;
      grid-template-columns: auto minmax(0, 1fr) auto;
      align-items: center;
      grid-gap: 8px;
      border-bottom: 1px solid $sw-border-color;
    }
  }

  .download-title {
    font-size: 1.2em;
    margin-top: 8px;
    margin-bottom: 8px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .download-form {
    height: 100%;

    .btn {
      height: 100%;
      border-radius: 0;
    }
  }
}
