<div class="sw-cms-el-config-moorl-table-registration">
    <sw-tabs class="sw-cms-el-config-image-gallery__tabs" default-item="content">
        <template #default="{ active }">
            <sw-tabs-item name="content" :activeTab="active">
                {{ $tc('sw-cms.elements.general.config.tab.content') }}
            </sw-tabs-item>

            <sw-tabs-item name="settings" :activeTab="active">
                {{ $tc('sw-cms.elements.general.config.tab.settings') }}
            </sw-tabs-item>
        </template>

        <template #content="{ active }">
            <sw-container v-if="active === 'content'">
                <sw-text-editor
                    v-model:value="element.config.content.value"
                    :label="$tc('sw-cms.elements.moorl-table-registration.label.content')"
                />

                <sw-switch-field
                    :label="$tc('sw-cms.elements.moorl-table-registration.label.privacyActive')"
                    v-model:value="element.config.privacyActive.value"
                    bordered
                />
            </sw-container>

            <sw-container v-if="active === 'settings'">
                <moorl-select-field
                        v-model:value="element.config.verticalAlign.value"
                        set="flexVerticalAlign"
                />
            </sw-container>
        </template>
    </sw-tabs>
</div>
