<div class="moorl-animation sw-field">
    <sw-collapse v-for="currentConfig, index in value"
                 :ref="'moorl-animation_' + index"
                 class="moorl-collapse">
        <template #header="{ expanded }">
            <h4>
                {{ $tc(snippetPrefix + 'label.cssSelector') }}
            </h4>

            <sw-text-field
                    v-model:value="currentConfig.cssSelector"
                    :placeholder="$tc(snippetPrefix + 'placeholder.cssSelector')"
            />

            <div>
                <sw-icon
                        @click="deleteEntry(index)"
                        name="regular-trash"
                        small>
                </sw-icon>
            </div>

            <div>
                <sw-icon v-if="expanded"
                         small
                         name="regular-chevron-down-s">
                </sw-icon>
                <sw-icon v-else
                         small
                         name="regular-chevron-right-s">
                </sw-icon>
            </div>
        </template>

        <template #content>
            <template v-for="type in ['in','out','hover']">
                <sw-switch-field
                        :label="$tc(snippetPrefix + 'label.active')"
                        bordered
                        v-model:value="currentConfig[type].active"
                />

                <sw-select-field :label="$tc(snippetPrefix + 'label.name.' + type)"
                                 :helpText="$tc(snippetPrefix + 'helpText.name')"
                                 v-model:value="currentConfig[type].name">
                    <optgroup v-for="item in moorlFoundation.animateCss" :label="item.optgroup">
                        <option v-for="value in item.options" :value="value">{{ value }}</option>
                    </optgroup>
                </sw-select-field>

                <sw-select-field :label="$tc(snippetPrefix + 'label.condition')"
                                 v-model:value="currentConfig[type].condition">
                    <option v-for="value in ['isLoaded','isOverBottom','isInViewport']" :value="value">
                        {{ $tc(snippetPrefix + 'label.' + value) }}
                    </option>
                </sw-select-field>

                <sw-number-field
                        v-model:value="currentConfig[type].duration"
                        :label="$tc(snippetPrefix + 'label.duration')"
                />

                <sw-number-field
                        v-model:value="currentConfig[type].delay"
                        :label="$tc(snippetPrefix + 'label.delay')"
                />
            </template>
        </template>
    </sw-collapse>

    <sw-button :block="true" @click="addEntry" variant="ghost">
        <span>
            <sw-icon name="regular-plus-s" :small="true"/>
            {{ $tc(snippetPrefix + 'label.add') }}
        </span>
    </sw-button>
</div>
