<div class="moorl-bs-config sw-field">
    <div v-if="label">
        <div class="sw-field__label">
            <label>{{ label }}</label>
        </div>
    </div>

    <div class="moorl-bs-config-items">
        <div class="moorl-bs-config-item"
             v-for="behaviour in defaultBehaviour">
            <div class="moorl-bs-config-icon">
                <sw-icon :name="behaviour.icon"/>
                <span>{{ behaviour.breakpoint }}</span>
            </div>

            <sw-switch-field
                    v-if="showInherit"
                    :label="$tc('moorl-bs-config.label.inherit')"
                    v-model:value="value[behaviour.breakpoint].inherit"
                    v-tooltip="helpText(behaviour.breakpoint,'inherit')"
            />

            <sw-switch-field
                    :disabled="value[behaviour.breakpoint].inherit"
                    v-if="showShow"
                    :label="$tc('moorl-bs-config.label.show')"
                    v-model:value="value[behaviour.breakpoint].show"
                    v-tooltip="helpText(behaviour.breakpoint,'show')"
            />

            <sw-select-field :disabled="value[behaviour.breakpoint].inherit"
                             v-if="showWidth"
                             v-model:value="value[behaviour.breakpoint].width"
                             v-tooltip="helpText(behaviour.breakpoint,'width')">
                <option :value="-1">auto-fill</option>
                <option :value="0">auto-fit</option>
                <option v-for="i in 12" :value="i">{{ i }}/12</option>
            </sw-select-field>

            <sw-select-field :disabled="value[behaviour.breakpoint].inherit"
                             v-if="showOrder"
                             v-model:value="value[behaviour.breakpoint].order"
                             v-tooltip="helpText(behaviour.breakpoint,'order')">
                <option :value="0">auto</option>
                <option v-for="i in 48" :value="i">{{ i }}</option>
            </sw-select-field>
        </div>
    </div>
</div>
