{% block moorl_thing_seo_card %}
    <sw-card class="moorl-thing-seo-card" :title="$tc('moorl-foundation.card.seo')">
        {% block moorl_thing_seo_card_inner %}
            <sw-text-field
                    v-if="item.metaTitle !== undefined"
                    :label="$tc('moorl-foundation.field.metaTitle')"
                    v-model:value="item.metaTitle"
            />

            <sw-textarea-field
                    v-if="item.metaDescription !== undefined"
                    :label="$tc('moorl-foundation.field.metaDescription')"
                    v-model:value="item.metaDescription"
            />

            <sw-text-field
                    v-if="item.metaAuthor !== undefined"
                    :label="$tc('moorl-foundation.field.metaAuthor')"
                    v-model:value="item.metaAuthor"
            />

            <sw-textarea-field
                    v-if="item.metaKeywords !== undefined"
                    :label="$tc('moorl-foundation.field.metaKeywords')"
                    v-model:value="item.metaKeywords"
            />

            <sw-textarea-field
                    v-if="item.keywords !== undefined"
                    :label="$tc('moorl-foundation.field.keywords')"
                    v-model:value="item.keywords"
            />

            <div v-if="item.metaMediaId !== undefined" class="sw-field">
                <sw-upload-listener
                        :upload-tag="item.id"
                        auto-upload
                        @media-upload-finish="setMediaItem"
                />
                <sw-media-upload-v2
                        :upload-tag="item.id"
                        :source="item.metaMediaId"
                        :allowMultiSelect="false"
                        :label="$tc('moorl-foundation.field.metaImage')"
                        @sw-media-upload-media-upload-success="setMediaItem"
                        @media-drop="onDropMedia"
                        @media-upload-sidebar-open="onOpenMediaModal"
                        @media-upload-remove-image="onUnlinkMedia"
                />
            </div>
        {% endblock %}
    </sw-card>

    <sw-seo-url
            v-if="item.seoUrls !== undefined"
            :has-default-template="false"
            :urls="item.seoUrls"
    />

    <sw-media-modal-v2
            variant="full"
            v-if="mediaModalIsOpen"
            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
            :allowMultiSelect="false"
            @media-upload-remove-image="onUnlinkMedia"
            @media-modal-selection-change="onSelectionChanges"
            @modal-close="onCloseModal"
    />
{% endblock %}
