<div class="moorl-entity-form-element">
    <template v-if="column.type == 'association'">
        <template v-if="column.relation === 'many_to_many' || column.relation === 'one_to_many'">
            <sw-entity-multi-select
                    :label="column.label"
                    :helpText="column.helpText"
                    v-model:entityCollection="value[column.property]"
                    :labelProperty="column.flags.moorl_label_property"
                    :entity="column.entity"
                    :localMode="true"
            />
        </template>

        <template v-else>
            <template v-if="column.localField === 'productId'">
                <sw-entity-single-select
                        entity="product"
                        :criteria="productSearchCriteria"
                        :context="productSearchContext"
                        :label="column.label"
                        :required="column.required"
                        v-model:value="value[column.localField]">
                    <template #result-item="{ item, index }">
                        <slot name="result-item" v-bind="{ item, index }">
                            <li is="sw-select-result" v-bind="{ item, index }">
                                <span class="sw-select-result__result-item-text">
                                    <sw-product-variant-info :variations="item.variation">
                                        {{ item.translated.name || item.name }}
                                    </sw-product-variant-info>
                                </span>
                            </li>
                        </slot>
                    </template>
                </sw-entity-single-select>
            </template>

            <template v-else-if="column.localField === 'sortingId'">
                <div class="moorl-link-field">
                    <sw-entity-single-select
                            :label="column.label"
                            :helpText="column.helpText"
                            v-model:value="value[column.localField]"
                            :labelProperty="column.flags.moorl_label_property"
                            :entity="column.entity"
                            :criteria="sortingSearchCriteria"
                            :required="column.required"
                            show-clearable-button
                    />

                    <router-link target="_blank" rel="noopener" :to="{ name: 'moorl.sorting.list', params: { entity: column.entity } }">
                        {{ $tc('sw-cms.elements.moorl-foundation-listing.label.manageSorting') }}
                    </router-link>
                </div>
            </template>

            <template v-else>
                <sw-entity-single-select
                        :label="column.label"
                        :helpText="column.helpText"
                        v-model:value="value[column.localField]"
                        :labelProperty="column.flags.moorl_label_property"
                        :entity="column.entity"
                        :required="column.required"
                        show-clearable-button
                />
            </template>
        </template>
    </template>

    <template v-else-if="column.flags.moorl_edit_field == 'code'">
        <sw-code-editor
                :label="column.label"
                :helpText="column.helpText"
                :softWraps="false"
                v-model:value="value[column.property]"
        />
    </template>

    <template v-else-if="column.flags.moorl_edit_field == 'select'">
        <sw-select-field :label="column.label" v-model:value="value[column.property]">
            <option v-for="option in column.flags.moorl_edit_field_options.options" :value="option">
                {{ $tc(snippetSrc + '.' + column.property + '.' + option) }}
            </option>
        </sw-select-field>
    </template>

    <template v-else-if="column.flags.moorl_edit_field === 'price' && column.property === 'price'">
        <sw-price-field
                :price="price"
                :tax-rate="tax"
                :currency="defaultCurrency"
        />
    </template>

    <template v-else>
        <sw-form-field-renderer
                v-model:value="value[column.property]"
                :config="{
                    label: column.label,
                    helpText: column.helpText,
                    componentName: `sw-${column.flags.moorl_edit_field}-field`,
                    type: column.flags.moorl_edit_field,
                    required: column.required
                }"
        />
    </template>
</div>
