<div class="moorl-entity-form-element">
    <template v-if="column.type == 'association'">
        <template v-if="column.relation === 'many_to_many' || column.relation === 'one_to_many'">
            <sw-entity-multi-select :label="column.label"
                                    v-model="value[column.property]"
                                    :labelProperty="column.flags.moorl_label_property"
                                    :entity="column.entity"
                                    :localMode="true">
            </sw-entity-multi-select>
        </template>

        <template v-else>
            <sw-entity-single-select :label="column.label"
                                     v-model="value[column.localField]"
                                     :labelProperty="column.flags.moorl_label_property"
                                     :entity="column.entity">
            </sw-entity-single-select>
        </template>
    </template>

    <template v-else>
        <sw-field :type="column.flags.moorl_edit_field"
                  :label="column.label"
                  v-model="value[column.property]">
        </sw-field>
    </template>
</div>