<div class="moorl-cms-element-type-select-field">
    <div class="moorl-cms-element-type-select-field__fieldset">
        <sw-single-select
                v-bind="$attrs"
                :options="cmsTypeOptions"
        />
    </div>
</div>
