<div class="sw-cms-preview-block-appflix-column-layout-appflix-newsletter">
    <div>
        <div class="title-block"></div>
        ~~~~~~~~~~~~~~~~<br>
        ~~~~~~~~~
    </div>
    <div class="newsletter-container">
        <sw-icon name="default-communication-envelope" size="20"></sw-icon>
    </div>
</div>
