.sw-cms-preview-block-appflix-column-layout-appflix-newsletter{
    grid-template-columns: 1fr 1fr;
    height:60px;

    > div {
        line-height: 7px;
        display: flex;
        padding:0 10px;
        justify-content: center;
        flex-direction: column;

        .title-block{
            width: 60px;
            height: 5px;
            background-color: #b3bfcc;
            border-radius: 5px;
            margin-bottom: 3px;
        }

        &.newsletter-container{
            align-items: center;

            .sw-icon{
                color:#189eff;
                margin-right: 5px;
            }
        }
    }
}
