<div class="sw-cms-el-config-moorl-contact">
    <sw-cms-mapping-field v-model:value="element.config.email" value-types="string">
        <sw-text-field :label="$tc('moorl-foundation.properties.email')" v-model:value="element.config.email.value"/>
    </sw-cms-mapping-field>

    <sw-cms-mapping-field v-model:value="element.config.phoneNumber" value-types="string">
        <sw-text-field :label="$tc('moorl-foundation.properties.phoneNumber')" v-model:value="element.config.phoneNumber.value"/>
    </sw-cms-mapping-field>

    <sw-cms-mapping-field v-model:value="element.config.shopUrl" value-types="string">
        <sw-text-field :label="$tc('moorl-foundation.properties.shopUrl')" v-model:value="element.config.shopUrl.value"/>
    </sw-cms-mapping-field>

    <sw-cms-mapping-field v-model:value="element.config.merchantUrl" value-types="string">
        <sw-text-field :label="$tc('moorl-foundation.properties.merchantUrl')" v-model:value="element.config.merchantUrl.value"/>
    </sw-cms-mapping-field>
</div>
