.sw-cms-slot {
    .sw-cms-slot__actions {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.sw-cms-slot__config-modal {
    .link-field {
        > .sw-field {
            margin-bottom: 0;
        }

        > a {
            height: 30px;
        }
    }
}
