<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            {% sw_icon 'fas-fa-search' style {
                'namespace': 'MoorlFoundation',
                'pack': 'fontawesome'
            } %}
        </span>
    </div>

    <input id="search"
           name="search"
           class="form-control search"
           placeholder="{{ "moorl-foundation.properties.search"|trans }}"
           aria-label="{{ "moorl-foundation.properties.search"|trans }}">
</div>
