<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">{{ unit|trans }}</span>
    </div>

    {% if config('MoorlFoundation.config.filterRadiusType') == 'select' %}
        <select id="distance" name="distance" class="form-select form-control distance">
            {% for distance in config('MoorlFoundation.config.filterRadiusSteps')|split(',') %}
                <option value="{{ distance }}">{{ distance }} {{ unit|trans }}</option>
            {% endfor %}
        </select>
    {% else %}
        <input type="number" id="distance" name="distance" class="form-control distance">
    {% endif %}
</div>
