<div class="input-group">
    <span class="input-group-text">
        {% sw_icon 'search' style {pack: 'fas'} %}
    </span>

    <input id="search"
           name="search"
           class="form-control search"
           placeholder="{{ "moorl-foundation.properties.search"|trans }}"
           aria-label="{{ "moorl-foundation.properties.search"|trans }}">
</div>
