<div class="sw-cms-el-config-moorl-location">
    <sw-cms-mapping-field v-model="element.config.locationLat" value-types="number">
        <sw-number-field
                :label="$tc('sw-cms.elements.moorl-location.label.locationLat')"
                numberType="float"
                step="0.00001"
                digits="5"
                v-model="element.config.locationLat.value"
        />
    </sw-cms-mapping-field>

    <sw-cms-mapping-field v-model="element.config.locationLon" value-types="number">
        <sw-number-field
                :label="$tc('sw-cms.elements.moorl-location.label.locationLat')"
                numberType="float"
                step="0.00001"
                digits="5"
                v-model="element.config.locationLon.value"
        />
    </sw-cms-mapping-field>

    <sw-cms-mapping-field v-model="element.config.marker" entity="moorl_marker" value-types="entity">
        <sw-entity-single-select
                :label="$tc('sw-cms.elements.moorl-location.label.marker')"
                entity="moorl_marker"
                v-model="element.config.markerId.value"
        />
    </sw-cms-mapping-field>

    <sw-text-field
            :label="$tc('sw-cms.elements.moorl-location.label.height')"
            v-model="element.config.height.value"
    />

    <sw-field
            type="switch"
            :label="$tc('sw-cms.elements.moorl-location.label.overrideOsmOptions')"
            v-model="element.config.overrideOsmOptions.value"
    />

    <sw-multi-select
            type="switch"
            :label="$tc('sw-cms.elements.moorl-location.label.osmOptions')"
            v-model="element.config.osmOptions.value"
            :options="elementOptions.osmOptions"
    />

    <sw-field
            type="switch"
            :label="$tc('sw-cms.elements.moorl-location.label.legend')"
            v-model="element.config.legend.value"
    />

    <sw-entity-multi-id-select
            :repository="markerRepository"
            :label="$tc('sw-cms.elements.moorl-location.label.legendItems')"
            v-model="element.config.legendItems.value"
    />
</div>
