<div class="sw-cms-el-config-moorl-location">
    <sw-cms-mapping-field v-model="element.config.locationLat" value-types="number">
        <sw-number-field
                :label="$tc('moorl-foundation.properties.locationLat')"
                numberType="float"
                step="0.00001"
                digits="5"
                v-model="element.config.locationLat.value"
        />
    </sw-cms-mapping-field>

    <sw-cms-mapping-field v-model="element.config.locationLon" value-types="number">
        <sw-number-field
                :label="$tc('moorl-foundation.properties.locationLon')"
                numberType="float"
                step="0.00001"
                digits="5"
                v-model="element.config.locationLon.value"
        />
    </sw-cms-mapping-field>

    <sw-cms-mapping-field v-model="element.config.marker" entity="moorl_marker" value-types="entity">
        <sw-entity-single-select
                :label="$tc('moorl-foundation.properties.markerId')"
                entity="moorl_marker"
                v-model="element.config.markerId.value"
        />
    </sw-cms-mapping-field>

    <sw-text-field
            :label="$tc('moorl-foundation.properties.height')"
            v-model="element.config.height.value"
    />
</div>
